[2018-04-25 14:09] darupp opened #1 "KBART field "coverage_depth" not shown and set automatically"
At the moment, the KBART field "coverage_depth" is not shown and cannot edited in the GOKb UI under "TIPP Details" bzw. "Coverage". It is automatically set to "Fulltext" when a TIPP is created. Regarding KBART specification, it could have three values "fulltext", "selected articles" and "abstracts". This field should be shown and be editable with these three Refdata Values.

[2018-08-20 15:41] darupp opened #2 "Problem with "last updated" (Package) for OAI-PMH Request"
OAI-PMH notices changes on packages by checking "last updated", but this doesn't refresh after a TIPP update, because TIPPs are a class of its own. So Systems using the OAI-PMH API don't get information on changed TIPPs.

Possible solutions:
- Refresh of "last updated" on the package level after a tipp change
- Additional API for TIPP changes as endpoint for OAI-PMH
- Alternative API for TIPPs wit

[2018-08-28 08:52] hornmo commented on #1
Fixed on g3_master in b8324e017bbd81bb9ddf56ef144487ddc3ef9abb

[2018-08-28 08:52] #1 closed, assigned to nobody

[2019-01-30 16:09] darupp opened #4 "Add KBART monograph fields to Class BookInstance"
For inserting EBooks into the GOKb via KBART files, additional attributes have to be implemented on BookInstance level (or possibly higher, i.e. TitleInstance level):

first_author: string
first_editor: string

Though there is a data structure for adding people to a KBComponent (I think this is for authors or editors, although there are no bootstrapped roles), KBART data is not sufficient to ident

[2019-01-30 16:24] darupp opened #5 "Inserting monograph specific KBART fields via crossreferencing API"
On title level, monograph specific KBART data has to be processed via the crossreferencing API (title):

date_monograph_published_print --> BookInstance.dateFirstInPrint
date_monograph_published_online --> BookInstance.dateFirstOnline

monograph_volume --> BookInstance.volumeNumber
monograph_edition --> [May be parsed to fill BookInstance.editionNumber, editionDifferentiator and editionStatement]

[2019-01-31 09:55] hornmo commented on #5
CrossReferenceTitle will already process the BookInstance String fields
* `editionNumber`
* `editionDifferentiator`
* `editionStatement`
* `volumeNumber`
* `summaryOfContent`
as well as the dates in `dateFirstInPrint` and `dateFirstOnline`

As of release 8.0.12 (83d9d2f276dc5c605ace80d8faa78c17a82f5512), BookInstance has new String fields `firstAuthor` and `firstEditor`. These are not yet consider

[2019-01-31 10:00] hornmo commented on #4
Added String fields to BookInstance in 9042f85c61f584af00048fea2859c1d465c208d5.

[2019-01-31 10:00] #4 closed, assigned to hornmo, philboeselager

[2019-01-31 15:32] darupp commented on #5
1) As KBART files don't differentiate between those three internal edition fields, we have to decide where the processing of the KBART field *monograph_edition* into `editionNumber`, `editionDifferentiator` or `editionStatement` should be done. Should *monograph_edition* be given to the API additional to the three implemented fields so that it can be processed internally? Or should the API strictl

[2019-02-04 12:03] philboeselager opened #6 "Unify Elasticsearch configuration"
Setting up GOKb locally, I realized it used different Elasticsearch configuration for reading and writing. While the writing destination index was defined in [application.yml | environments | development | gokb | es | index](https://github.com/openlibraryenvironment/gokb/blob/g3_master/server/gokbg3/grails-app/conf/application.yml#L142) as `gokbg3dev`, the quering configuration was defined elsewhe

[2019-02-18 14:09] croqueGrec09 opened #8 "KBART export not containing column zdb_id"
With reference to ticket [ERMS-933](https://jira.hbz-nrw.de/browse/ERMS-933) of LAS:eR

To preselect values in the issue entitlement selection for a subscription based upon a KBART file, I need to match against different identifiers. Currently, a KBART export coming from GOKb does not contain any ZDB IDs which actually should be the first ID against which I should match.

I thus need the column zd

[2019-02-18 14:13] darupp commented on #8
Although zdb_id is not KBART standard, I absolutely recommend the export as it is a primary identifier for Journals.

[2019-02-20 14:24] darupp commented on #8
Alternative solution: A third export aside from "KBART" and "GOKb .tsv" like "KBART with all Identifiers" where all additional identifiers will be given in an extra column.

Problems to solve:
  *  title_id will be mapped via import to certain namespaces and won't be mapped back to title_id.
  * Import of title_id is at the moment not clear if this is a TIPP or an Title identifier. If it's a TIPP

[2019-02-21 09:11] philboeselager commented on #8
Please specify the Definition Of Done and assign back to me then, @darupp .

[2019-02-21 10:10] darupp commented on #8
After a webcon with @hornmo it beacme clear that we first have to solve some conceptual problems in an upcoming monday webcon. I put this issue on hold.

[2019-03-06 17:11] hornmo opened #22 "Package export does not process book info"
All current package TSV export functions in PackageController & WorkflowController do not output any Monograph fields.

This should probably be fixed in concordance with #8.

[2019-03-13 16:34] VolkerHBZ commented on #6
Es scheint, als würde der org.gokb.GlobalSearchController in Zeile 46 die Konfiguration grailsApplication.config.globalSearch.indices nicht finden, weil sie nicht existiert und darum den Fallback "gokbg3" verwenden. Ich habe das lokal schonmal angepasst, aber bevor ich das einchecke, sollte da jemand drüber schauen, der sich damit auskennt...

Grundsätzlich stellt sich mir allerdings die Frage, ob

[2019-03-18 10:19] VolkerHBZ commented on #6
@hornmo das wäre mein Vorschlag, das Problem zu lösen... https://github.com/openlibraryenvironment/gokb/pull/24/files

[2019-04-08 09:56] philboeselager opened #32 ""RDF Datatype" lost when creating Identifier Namespace"
Create -->
Namespace -->
set `Name` and set `RDF Datatype` (to `string`) -->
click `Create and Edit >>` -->
the content of `RDF Datatype` is lost in the next view.

[2019-04-08 11:59] philboeselager commented on #32
`RDF Datatype` is obviously never stored. See YOURFAVOURITEGOKBINSTANCE/search/index?qbe=g%3ANamespaces&offset=0&det=

[2019-04-09 15:33] hornmo opened #33 "Validation for unique Org name missing"
There should be a custom validation for unique Org names, just as for Packages & Platforms.

[2019-04-10 08:26] darupp opened #34 "Check Validation for different identifier namespaces"
We have lots of identifier namespaces such as issn, isbn, doi etc. I'm not sure whether they are validated or not. You can enter a regex in the namespace definition - is there a validation function active and where they get checked? If so, we should write regexes for the namespaces.

[2019-04-10 11:49] croqueGrec09 opened #35 "Export not containing values for ebooks"
Tested on dev & QA
With reference to LAS:eR-tickets [ERMS-1203](https://jira.hbz-nrw.de/browse/ERMS-1203) and [ERMS-1150](https://jira.hbz-nrw.de/browse/ERMS-1150)

When exporting EBook-packages (KBart and GOKb), no identifiers are being exported.
Tested with:
- dev: https://phaeton-dev.hbz-nrw.de/gokb/public/packageContent/org.gokb.cred.Package%3A812354
- qa: https://phaeton-qa.hbz-nrw.de/gokb/pu

[2019-04-10 12:44] darupp commented on #35
This refers to the .tsv export on package level. Additionally, other monograph fields (as defined in KBART Phase II) are not exported either as a quick check shows.

[2019-04-10 14:18] hornmo commented on #35
This looks like a duplicate to #22

[2019-04-10 14:51] darupp commented on #35
Yes, I'm closing this one

[2019-04-10 14:51] #35 closed, assigned to darupp, VolkerHBZ

[2019-04-10 14:54] croqueGrec09 commented on #22
To have the reference, I shall reference here own test results:
Tested on dev & QA
With reference to LAS:eR-tickets ERMS-1203 and ERMS-1150

When exporting EBook-packages (KBart and GOKb), no identifiers are being exported.
Tested with:

- dev: https://phaeton-dev.hbz-nrw.de/gokb/public/packageContent/org.gokb.cred.Package%3A812354
- qa: https://phaeton-qa.hbz-nrw.de/gokb/public/packageContent/org

[2019-04-10 15:48] hornmo commented on #34
There is a rudimentary regex validation in Identifier, but it is currently only working with a static list for a small selection of identifiers.

https://github.com/openlibraryenvironment/gokb/blob/80d56904828b244822bb012daf73fb401aeaba61/server/gokbg3/grails-app/domain/org/gokb/cred/Identifier.groovy#L19-L44

A better approach would be to use the `pattern` field from IdentifierNamespace, although

[2019-04-15 12:21] darupp opened #36 "New package status for empty packages"
Add new package status for empty packages: "No Title List"

[2019-04-15 12:31] darupp opened #37 "Package Comparison and Overlap Analysis"
Until now, GOKb lacks a tool for package comparison/overlap analysis.

Functionality from LAS:eR could be adopted.

[2019-04-15 13:14] croqueGrec09 commented on #37
As mentionned by @darupp, a similar functionality *needs* to be implemented in LAS:eR as well. Since only a very few users can access the LAS:eR issues, progresses documented in the LAS:eR issue will be documented here as well.

To work completely, the LAS:eR issue should be described in short here as well (unfortunately, referencing the LAS:eR issue does not make any sense as it is not accessible

[2019-04-15 14:00] darupp opened #38 "TIPP validation: Check plausibility of Coverage dates and access dates"
There is no validation for the plausibility of coverage and access dates. A simple check would be that start dates can't be later than end dates. A validation routine should check this on domain class level.

[2019-04-16 15:08] hornmo commented on #32
The CreateController has problems with setting RefdataValues with non-standard RefdataCategories, so whereas `{class.simpleName}:{property}` is fine, `RDFDataType` is not.

[2019-04-17 14:31] Moetez16 opened #42 "Show providedPlatforms in OAI Endpoint for Orgs"
Show providedPlatforms in OAI Endpoint for Orgs

[2019-04-18 13:33] #42 closed, assigned to Moetez16

[2019-04-25 11:06] hornmo commented on #6
PR https://github.com/openlibraryenvironment/gokb/pull/24 has been merged

[2019-04-25 11:06] #6 closed, assigned to VolkerHBZ

[2019-04-25 11:07] #32 closed, assigned to hornmo

[2019-04-25 12:21] darupp opened #46 "Refactoring Coverage in GOKb"
At the moment, a TIPP can have multiple coverages, but only one coverage note and coverage depth field. In the title import JSON, like coverage multiple instances of coverage note and depth are possible.

How should GOKb handle this?
1) New Coverage --> new TIPP
2) Multiple Coverages with TIPPs and multiple Coverage notes and depth
3) as it is now

[2019-04-26 12:32] #38 closed, assigned to hornmo

[2019-04-26 12:40] hornmo commented on #38
Fixed in #47

[2019-04-29 12:06] darupp commented on #46
Will be decided in the SC

[2019-05-07 13:32] MiriKon opened #50 "Merging of title splits in GOKb"
By processing a new KBART file via YGOR - in this case the file for the Beck Hochschulmodul journals
[EZB-HBZBE-01476_hbzKon_beck_2019_05_07.txt](https://github.com/openlibraryenvironment/gokb/files/3152744/EZB-HBZBE-01476_hbzKon_beck_2019_05_07.txt) - an issue has come up with regards to title splits. In the KBART file, the title splits "Bilanzbuchhalter und Controller BC", "BRZ Zeitschrift fuer

[2019-05-07 15:50] hornmo commented on #50
It seems to me like all three Journals were correctly matched, though they received different names:
https://phaeton.hbz-nrw.de/gokb/resource/show/org.gokb.cred.JournalInstance%3A414104
https://phaeton.hbz-nrw.de/gokb/resource/show/org.gokb.cred.JournalInstance%3A414116
https://phaeton.hbz-nrw.de/gokb/resource/show/org.gokb.cred.JournalInstance%3A391448

Also, they each have one TIPP, which links

[2019-05-09 07:22] VolkerHBZ commented on #2
Out of the three posible soilutions, i would recommend the first one. Changing just a date on a TIPP doesn't make sense, especially since the TIPPs are considered immutable. A second API endpoint giving "just the same informations like another, BUT:..." seems weird too. Ideally, delivering the correct date would only be an additional clause in the SQL statement.

[2019-05-09 10:05] philboeselager commented on #50
Thanks, @hornmo ! We've found 5 cases of `zdb_id`s that are mentioned twice in the Kbart file. Still in search for the sixth TIPP that makes in difference in the overall count (149 vs. 155).

While investigating the Kbart export of the package mentioned by @MiriKon , I've seen that there are double TIPPs in the export that are only visible one time in the UI / search. E. g.:

https://phaeton.hbz-n

[2019-05-09 12:34] MiriKon commented on #50
Thank you for clearing this up for me! The issue has been moved to https://github.com/hbz/laser-ygor/issues/128 and will be closed here.

[2019-05-09 12:34] #50 closed, assigned to hornmo, philboeselager

[2019-05-09 13:43] hornmo commented on #50
@philboeselager the problem here is that those two TIPPs are only differentiated via URL and have the same Platform/Title/Package. Since they came in from two different title import processes, the older of those two TIPPs was immediately retired.

https://phaeton.hbz-nrw.de/gokb/search/index?qbe=g%3A3tipps&refOid=org.gokb.cred.JournalInstance%3A392509&hide=qp_title_id&hide=qp_title&qp_title=&qp_ti

[2019-06-17 11:25] philboeselager opened #58 "Internal Server Error on "Ensure UUIDs""
Trying to run "Ensure UUIDs" created an `Error 500: Internal Server Error`:

	URI: /gokb/admin/jobs
	Class: groovy.lang.MissingMethodException
	Message: groovy.lang.MissingMethodException: No signature of method: org.gokb.CleanupService$__tt__ensureUuids_closure13$_closure22.doCall() is applicable for argument types: (java.lang.Long, java.lang.Integer) values: [41606, 0] Possible solutions: doCall

[2019-06-17 11:31] philboeselager opened #59 "New Curatory Group does not show up in Dropdown"
I can't assign [this new curatory group](https://phaeton-qa.hbz-nrw.de/gokb/resource/show/org.gokb.cred.CuratoryGroup%3A994085) created by Miriam to [this user](https://phaeton-qa.hbz-nrw.de/gokb/resource/show/org.gokb.cred.User%3A994079). The CG does not show up in the Dropdown for CG selection on the user's page - whereas other older CGs do show up.

GOKb v. 8.1.0
phaeton-qa

[2019-06-17 11:37] darupp commented on #59
Done. I think the problem was that you have to type the first letter to change the selected items as the Dropdown only shows only maximal 10 random entries.

[2019-06-17 11:37] #59 closed, assigned to nobody

[2019-06-17 11:46] philboeselager commented on #59
I see. This will probably occur as a question by users because the page limit is not that visible. It would help to sort entries alphabetically here as this might tell that the list is longer than the visible entries only.

[2019-06-17 12:15] darupp commented on #59
I absolutely agree. This is one of the many problems with the UI. But I wouldn't invest time and energy in the current UI unless it is absolutely necessary.

[2019-06-17 14:04] hornmo commented on #58
Fixed in v8.3.1 (5851448).

[2019-06-17 14:04] #58 closed, assigned to nobody

[2019-06-18 09:21] hornmo commented on #22
Fixed in #49

[2019-06-18 09:21] #22 closed, assigned to hornmo

[2019-06-18 14:20] darupp opened #60 "Bootstrap predefinitions for user roles"
At the Moment, after a new GOKb installation you have to edit the rights manually. This should be done in the Bootstrap.groovy according to this template: https://docs.google.com/document/d/1wxvLuwmaZyXwlE-SDO6JRHQ2hnLMosiZGykFmdMODUo/edit#heading=h.tfwkt66ewl10

[2019-06-18 15:09] darupp opened #61 "Data Manager Tool: Multiple platform entries"
As data managing tool, we need a view for multiple platform entries.

*Navigation:* As menue item under "Admin"

This should be a list view like /gokb/search/index?qbe=g%3A1platforms, but with multiple platforms (different platforms with same name and/or same Primary URL).

[2019-07-08 12:49] darupp opened #66 "Messaging deleted packages for harvesting systems"
Harvesting systems via OAI-PMH don't know at the moment whether a package has simple not changed or has been deleted.

Different possible solutions:

- Is there a OAI-PMH specification addressing this problem? Then we have to implement it
- Using the ES-Index for getting the status "deleted" for certain GUIDs.

[2019-07-08 13:02] croqueGrec09 commented on #66
The OAI PMH spectification states in its guidelines, section 2.5.1 of the general document:

If a record is no longer available then it is said to be deleted. Repositories must declare one of three levels of support for deleted records in the deletedRecord element of the [Identify](http://www.openarchives.org/OAI/openarchivesprotocol.html#Identify) response:

- no - the repository does not maintai

[2019-07-09 15:14] darupp opened #67 "Data Management Tool - Set titles without packages to "Rejected""
We need a new admin function to get rid of wrong titles. It should be found menue under the "admin" akkordeon and only with role "Admin":

New function to get all titles that

  * have no package tipps (see "package availability" tab in title view

AND

  * have no history events

The titles should be set to "status:deleted", so that we can expunge them with the admin function "Expunge deleted rec

[2019-07-10 13:16] croqueGrec09 opened #68 "Technical Support for packages"
The issue title addresses a broader problem: in LAS:eR, it is currently possible to assign contacts with respective types (Technical Support is one of those types, they are defined in RefdataValues) to orgs, thus including providers. Providers are associated to packages via an OrgRole relation with type Provider.
The issue arises from the need to communicate IP ranges to the provider. It is reques

[2019-07-24 15:36] hornmo commented on #8
Column `zdb_id` added to exports in d4d2d3e

[2019-07-24 15:36] #8 closed, assigned to darupp

[2019-07-31 12:01] VolkerHBZ commented on #67
Feature implemented in Version 8.3.5

[2019-07-31 12:59] hornmo commented on #66
As of right now, GOKb does mark deleted records via the header status attribute. Since this was added relatively recently and to avoid problems with existing harvesting operations (of LAS:eR for example), the metadata is still supplied on top of this.

[2019-08-02 14:19] croqueGrec09 opened #75 "OAI PMH interface is not delivering providedPlatforms"
Discovered and documented as LAS:eR-issue ERMS-1573:

Comparing these two records:
https://phaeton.hbz-nrw.de/gokb/oai/packages?verb=getRecord&metadataPrefix=gokb&identifier=b2e9d143-1721-4a8a-a048-0723b6d425d7

with

https://phaeton.hbz-nrw.de/gokb/resource/show/b2e9d143-1721-4a8a-a048-0723b6d425d7

The LAS:eR-sync would expect a tag providedPlatforms which is inexistent, so no package - provider

[2019-08-07 15:00] darupp opened #76 "Import via CrossReferencing API: Package referencing failed with exception!"
See attached files. A Package Import via YGOR or ~~Curl~~ RESTer-Plugin is rejected without proper information of the reason.

Happened on phaeton-qa.
[tandf.zip](https://github.com/openlibraryenvironment/gokb/files/3477594/tandf.zip)

[code]
What happened? And could the API answer be enhanced to return better information?

[2019-08-07 15:02] croqueGrec09 commented on #76
This message is also displayed when at the last step, I wish to send package to GOKb and enter my GOKb credentials.

[2019-08-07 15:09] darupp commented on #76
I shortened the list to only one TIPP and it worked - seems to be either a problem of specific tipps or a problem regarding the size of the file.

[2019-08-07 16:27] VolkerHBZ commented on #76
https://phaeton-qa.hbz-nrw.de/gokb/admin/jobs shows the first appearance of a "Package referencing failed with exception!" on Aug 6, 13:53:50

Maybe, it actually IS connected to the not-so-unique record in the database that the ES updater is complaining about every five minutes since 2019-05-08 13:59:24.877

[2019-08-13 12:50] hornmo commented on #60
Added in #78

[2019-08-13 12:52] #60 closed, assigned to hornmo

[2019-08-22 12:36] hornmo commented on #75
Fixed in #82

[2019-08-22 12:36] #75 closed, assigned to hornmo, VolkerHBZ

[2019-09-03 06:58] MiriKon opened #87 "Global Search : Internal Server Error"
The Global Search - for GOKb Prod as well as QA - doesn't function properly at the moment https://phaeton.hbz-nrw.de/gokb/globalSearch/index?q=New+York+Times . The error message that appears once the Global Search has been started reads: "Error 500: Internal Server Error"

![GOKb_GlobalSearch](https://user-images.githubusercontent.com/45172978/64150609-de979300-ce28-11e9-9e87-b844251ea886.JPG)

[2019-09-05 14:59] darupp commented on #76
Problem still occurs. Tested on phaeton-qa with Annual Review package:

  * Only one current platform with the given url "http://www.annualreview.org/" exists
  * Accepting tipps is somewhat erratic. Even with the response "Package referencing failed" sometimes a single tipps exists.
  * It seems to be caused by the coverage dates. After deleting the Array below it worked nicely.

[code]
Further i

[2019-09-24 16:34] darupp commented on #76
After some tests this error message seems to be a generic error message when something goes awry via the package API. In the following example the reason was a title doublette:

[code]

At the moment, package import via the API is not possible even in small quantities. A single tipp error in a >500 titles package leads to this unspecified error message with no chance to identify the problematic ti

[2019-09-27 07:56] VolkerHBZ commented on #76
I have introduced some minor changes with the (big) effect that a single title validation error does not break the whole package import without any specific message due to a NullPointerException, but gives an error message text, that is actually stating the name of the invalid title.

[2019-10-14 14:32] darupp opened #97 "Reworking title management"
Title deletion can be done by everyone with marginal rights at the moment. We should consider if title deletion can be reworked so that is possible for editors if:

  * No title history exists
  * the available packages are all within the user's curatory group

[2019-10-16 09:13] darupp opened #99 "GOkb Synchronisation - Erroneus matching of deleted packages"
Deleted packages/components that have the same name as active packages/components can be matched to the wrong package via the GOKb synchronisation job

*Possible solutions*

  * Matching via UUID instead of name matching when a current package should be matched against a deleted one
  * Do not allow changes from "deleted" status

[2019-10-16 09:28] darupp opened #100 "Add Tomcat version /home/about"
Add Tomcat version to /home/about

[2019-10-16 10:43] croqueGrec09 commented on #66
The OAI PMH request delivers deleted packages. Can thus be closed.

[2019-10-17 14:44] #66 closed, assigned to VolkerHBZ

[2019-10-21 08:21] hornmo commented on #99
Fixed in #102

[2019-10-21 08:21] #99 closed, assigned to hornmo

[2019-10-23 11:54] philboeselager opened #103 "Main menu shows html when accessed from Admin Console"
Instead of showing the menu entries, their html representation is visible when selecting main menu entries (like "Search" or "Create") directly from the Admin Console.

GOKb v8.3.13
gokb.org

[2019-10-24 12:10] croqueGrec09 opened #105 "Current TIPPs for deleted TitleInstances"
It is somehow irritating that there are current TIPPs for TitleInstances marked as deleted. I would like to know how this is possible. Example: https://gokb.org/gokb/resource/show/63588ce2-ba47-48ba-ae2f-9f235b6b3e74#availability
In the very package are many such examples.

[2019-10-28 09:34] hornmo commented on #103
Fixed in v8.4.0 (#101)

[2019-10-28 09:36] #103 closed, assigned to nobody

[2019-11-25 10:21] Moetez16 opened #108 "Add fields in Api"
Currently listVerifiedDate, scope, contentType is not displayed in the api as fields. Is needed for laser.

Thx.

[2019-11-25 11:16] VolkerHBZ commented on #108
In which API request(s) you want to get those values?

[2019-11-25 11:21] croqueGrec09 commented on #108
We need the field in every call, generally. Should not be distincted.

[2019-11-28 11:19] darupp opened #109 "KBART Export from GOKb - faulty fields"
The KBART Export from GOKb has some faulty field:

  * *publication_type* has to be "serial" or "monograph" according to KBART II specification. Right now the GOKb export KBART file has "journal" and "book" instead. This should be changed according to the specification. The GOKb classes "journal" and "database" should be matched to "serial", "book" to "monograph".

  * The UID should be exportet t

[2019-12-02 15:34] croqueGrec09 opened #110 "Wrong title type after initial mirroring"
Because of a mismatch in initial sync process, title instances have been incorrectly mapped. About 600 titles which were book titles became journal titles that way. We have to consider what happens when an instance type gets changed afterwards.

Issues arising:
- notification of consuming systems (such as LAS:eR)

[2019-12-02 15:36] croqueGrec09 commented on #110
File with diff attached below:
[laser_gokb_title_type_diff_20191202.txt](https://github.com/openlibraryenvironment/gokb/files/3911969/laser_gokb_title_type_diff_20191202.txt)

[2019-12-03 15:28] croqueGrec09 opened #111 "UUIDs for every communicated field"
Concerns now mainly Coverages and Identifiers.
As there is a 1:n relation between TitleInstances/Packages/Orgs <-> Identifiers and TitleInstancePackagePlatform <-> Coverages, we may have different counts in the respective GOKb and LAS:eR sets, e.g. a LAS:eR TIPP (or IssueEntitlement) has two coverage statements, the respective GOKb TIPP only one. How do we determine which one of the entires has to

[2019-12-03 17:09] darupp commented on #108
These are package fields, so it is about the OAI package API.

Correction: It is about the Elastic Search Interface

[2019-12-04 13:23] darupp opened #112 "Generate Review Requests per GUI for Curatory Group"
tbd

[2019-12-04 13:40] darupp commented on #111
Not feasible for identifiers because ids are immutable in GOKb, therefore changing an identifier means linking another identifier object.

Possible for coverages, but there are problems

  * UID is a field of kb_component, so every component inherits this field. Coverage doesn't inherit from component, so the concept of UID has to be changed

This would be too much, so the suggestion is, that othe

[2019-12-04 13:40] #111 closed, assigned to darupp

[2019-12-04 13:52] darupp commented on #110
These titles have to be deleted, because there is already data lost like first_author, first_editor, publication_date etc.

We need a list with the corresponding packages.

[2019-12-04 14:03] darupp commented on #105
Should we implement autochanges for TIPP status when the title status is changed? How deep? Should this work also with de-deleting / re-activating a title?

Correspending question is what a normal user can edit on title level. Suggestion: Editing is okay, deleting is forbidden.

[2019-12-04 14:08] #2 closed, assigned to hornmo, VolkerHBZ

[2019-12-06 15:15] darupp opened #113 "Support address for provider organisations"
Users need a technical support address for providers to report IP changes, technical problems and so on regarding the content on a provider platform.

# Requirements

  * belong to an organisation and can be created/edited somewhere in the org controller
  * be a mail address, preferably not personalized to reduce personal information
  * tagged as "technical support"
  * shown in the OAI and ES A

[2019-12-09 09:29] croqueGrec09 commented on #110
Updated file with diff attached below:

[https://app.zenhub.com/files/103426961/ac7d6d5c-84ac-440a-b85d-74ebe48c4076/download](https://app.zenhub.com/files/103426961/ac7d6d5c-84ac-440a-b85d-74ebe48c4076/download)

[2019-12-09 13:14] darupp commented on #109
UID: In additional fields: *gokb_tipp_uid* and *gokb_title_uid*

Vendor ID: Should be *title_id*, but then the vendor ID should be attached to tipp instead of title. This would a greater refactoring. So this part is on the Ice Box.

[2019-12-12 14:04] darupp opened #114 "GOKb Coreferrencing API: Dryrun functionality"
To verify Titles and Packages externally, there should be a dryrun optionality in the API. The ingesting system should send a dryrun flag (either in JSON body or as request parameter) and gets the API message back if a valid ingestion would work.

It would help greatly for title ingestion, it's more complicated for packages and tipps. Still possible?

Would it work with identifier? Regarding ident

[2019-12-12 14:10] philboeselager commented on #114
Great "ingestion", @darupp . That would serve very well for what we want to do with Ygor in the future: "query" the GOKb for matching and validation purposes, without saving any data in the GOKb in the first step. Non-matches could then be fixed inside Ygor before being sent to the GOKb for saving.

[2020-01-15 11:18] croqueGrec09 opened #117 "OAI-PMH coverage statement discrepancy"
The issue is as follows. Occurred in dev.

I first create the following package in GOKb with the following TIPP:
https://phaeton-dev.hbz-nrw.de/gokb/resource/show/org.gokb.cred.TitleInstancePackagePlatform:2179657#tippcoverage

I then have a coverage depth field on TIPP level which is set to Fulltext. An OAI-PMH-request to the very package reveals then a coverage element (with only attribute cover

[2020-01-16 13:13] dirk-ecker opened #118 "Main Menu: Log in user with username and password"
### Input
username, String
password, String

### Output
Token or empty response

### Implementation
[code]

After logged in every following request has to use the given token and therefore is not further mentioned.

Almost done, I think.

[2020-01-16 13:29] dirk-ecker opened #119 "Main Menu: Log out"
### Input
Token

### Output
Empty response

### Implementation
`POST /logout`

[2020-01-16 13:56] dirk-ecker opened #120 "Main Menu: Register a user"
### Description
Register a new user for the GOKb

### Input
username, String
email, string
password, String

### Output
Empty response or error details.

### Implementation
[code]

Response
empty or

[code]

[2020-01-16 14:47] dirk-ecker opened #121 "View Profile: Get the user profile"
### Description
After logging in the user can switch to his profile. Because of the token that is send to the server, we do not need a profile id to get the profile.

### Implementation
[code]
_links gives the frontend hints, what could be done. In this case we can update or delete the profile.
If the delete link would be missing, the current user would not be allowed to delete this profile and th

[2020-01-16 15:23] dirk-ecker opened #122 "View Profile: Get curatory groups"
### Description
For the profile view I need a service to get all curatory groups. The service is called when a user wants to add himself to an existing group through a popup.

### Implementation
[code]

The request parameters are used to get only the relevant fields and to set an order.

#### Estimated Workload: 1 d
#### Actual Workload:

[2020-01-17 08:33] dirk-ecker opened #123 "View Profile: Delete the user profile"
### Description
After logging in the user can switch to his profile. Because of the token that is send to the server, we do not need a profile id to delete the profile.

### Implementation
`DELETE /profile
`
Error or empty response.

#### Estimated Workload: 2-3d
#### Actual Workload:

[2020-01-20 13:03] dirk-ecker opened #124 "View User: Get available roles"
### Description
The users dialog contains a select input for all available roles, that has to be filled.

### Implementation
[code]
#### Estimated Workload: 1-2 d
#### Actual Workload:

[2020-01-20 13:19] dirk-ecker opened #125 "Get available curatory groups"
The users dialog contains a select input for all available curatory groups, that has to be filled.

Implementation
GET /curatory_groups?_include=id,name&_exclude=_links&_sort=name&_order=asc

Response
{
data: [{
id: 42,
name: "HBZ"
}]
}

[2020-01-20 13:21] dirk-ecker opened #126 "View User: Get available states"
### Description
The users dialog contains a select input for all available status, that has to be filled.

### Implementation
[code]
#### Estimated Workload: 1 d
#### Actual Workload:

[2020-01-20 13:27] dirk-ecker opened #127 "View Add/Edit User: Get available organisations"
### Description
The users dialog contains a select input for all available organisations, that has to be filled.

### Implementation
[code]
We have to check the amount of organisations available. If there are more than a few, it makes sense to implement a searchable select input that causes the need for a paging api for organisations. The general rule should be to support paging for all resources.

[2020-01-20 13:39] dirk-ecker opened #128 "View Users: Search users"
### Description
Search user with : name, role, curatory group or status.

#### Input
name, String,
roleId, Number,
curatory group id, curatoryId, Number,
status statusId, Number,
paging, offset and limit, Number,

sorting, asc or desc, String

#### Output
List of users with paging and name an email from user.

### Implementation

[code]
The self link can be used to edit a specific user, update can

[2020-01-20 13:47] dirk-ecker opened #129 "View User: Deactivate user"
### Description
Use the update link and send a PATCH with active = false to deactivate a user.

### Implementation
[code]
Typically the response contains the patched resouce, the user.

#### Estimated Workload: 1 d
#### Actual Workload:

[2020-01-20 13:48] dirk-ecker opened #130 "View User: Add/Update user"
### Description
After editing the user fields, the administrator could update the user using the save button, so we have to use a PUT request to update the data in the backend. In case of creating a new user we use the POST request with the same data.

### Implemenation
#### Example for Update
[code]

#### Example for Create
[code]

Both should return the created/updated entity.

#### Estimated Wo

[2020-01-20 13:49] dirk-ecker opened #131 "View Add/Edit User: Get user"
### Description
Editing a given user needs a service to get its data:
- username
- password
- password expired
- email
- active
- locked
- organisation
- roles
- curatory groups

So we need a GET:

[code]
The existence of an update link in the result tells the frontend whether an update is allowed or not.

#### Estimated Workload: 1-2 d
#### Actual Workload:

[2020-01-23 17:30] darupp opened #132 "Curatory group types"
There are first providers who are ingesting their titles itself. For data users, there should be an indication if a curatory group is of librarian or library provenience so that data users will know with whom they are communicating.

I suggest:

  * Adding an attribute to the Curatory group type with refadatas 'commercial', 'academic', 'other'. Field should be not nullable, default should be 'acad

[2020-01-23 17:42] darupp opened #133 "Add curatory groups to organisations and platforms"
Curatory groups should be added to organisations and platforms as well in the same way they are added to packages.

[2020-01-23 17:51] darupp opened #134 "Add curatory groups to titles"
Curatory groups should be added to titles as well.

However, there are some issues that have to be considered:

  * They have to be set automatically in respect to all the curatory groups of appending packages
  * Some information should be added without checking for curatory group (identifier, history events etc.)
  * ....

[2020-01-23 21:07] darupp opened #135 "Renaming of journal and ebook to serial and monograph"
The main title types of the GOKb are E-Books and Journals. The fields of these Components represent mainly the fields of the KBART standard for serials respective for monographs.

The main title types should accordingly be renamed to "serials" and "monograph" at least in the UI, as users are hesitating to import monographs that are not ebooks or serials that are not journals.

[2020-01-23 23:09] darupp opened #136 "New refdata "regional" for global field in package and additional field for country"
Momentarily the package field "global" has three values: "global", "consortial" and "unknown/other". There should be an additional value "regional" that represents a package that is only specific to a certain country, region etc. Some Springer packages are an example.

Additionaly, there should be a field where you can select the specific region the package belongs to. This should be a refdata fie

[2020-01-23 23:47] darupp opened #137 "Improve provider office for technical support"
Es gibt eine starke Anforderung, den technischen Support in Form einer Mailadresse für Anbieter aufzunehmen.

Zwei bisher diskutierte Lösungen sind:
  1. Nutzung von "Additional Properties" in der Organisations-Sicht, siehe #280
  2. Nutzung der bisher ungenutzten "Office"-Klasse für Organsiationen.

## Anforderung

Die Anforderungen sind (_Überarbeitet 2020 November_)
  - Aufnahme einer "Technisc

[2020-01-24 00:03] darupp opened #138 "Record setback for testing instances"
To avoid errors in testing environments that result in existing titles, there should be the possibility to set back an instance via cronjob. The setback should be restricted to titles, packages, tipps, NOT to orgs, platforms, namespaces, users and so on.

This is manually given:
  * Select all packages, batch delete all packages
  * Select all titles, batch delete all titles

There should be addit

[2020-01-24 14:50] darupp opened #139 "Include title matching via GOKb uuid in crossreferencing API"
There is a possibility that a kbart file is exported from GOKb, manually edited, and ingested back via YGOR. There is also the possibility to manually create title stubs and then populate them via kbart to avoid matching problems.

So for title identification, there should be the gokb UUID for title identification supported.

@hornmo How should it be implemented in the JSON? I absolutely would not

[2020-01-24 15:46] darupp commented on #139
After talking to @hornmo : This works already. The attribute is _uuid_ and is well defined via the section of the JSON. It also does top level matching.

So this issue is for documentation purposes only. Closed.

[2020-01-24 15:46] #139 closed, assigned to hornmo, VolkerHBZ

[2020-01-28 14:51] VolkerHBZ commented on #118
deployed for testing at https://phaeton-dev.hbz-nrw.de/gokb/rest/login

not merged onto g3_master yet.

[2020-01-28 15:00] VolkerHBZ commented on #119
deployed for testing at https://phaeton-dev.hbz-nrw.de/gokb/rest/logout
Header param:
Authorization: Bearer <access_token>

after logging out, requests using the access-token shall return 401 Unauthorized

not merged onto g3_master yet.

[2020-01-29 06:13] dirk-ecker commented on #118
Actual implementation gives this result:

access_token: "nki156f2o2aqsvnqno6r7ggjsvir3o9t"
roles: ["ROLE_CONTRIBUTOR", "ROLE_EDITOR", "ROLE_USER"]
token_type: "Bearer"
username: "decker"

refresh_token and expires_in is missing.

[2020-01-29 06:18] dirk-ecker commented on #119
Actual implementation does not work, the serivce is not available.

[2020-01-29 08:37] VolkerHBZ commented on #118
refresh_token and expires_in is not supported, since the access_tokens don't expire in this token store implementation.

[2020-01-29 09:00] dirk-ecker commented on #118
Okay, but a few days/or weeks ago those fields where available.
What has changed since then?

[2020-01-29 09:05] dirk-ecker commented on #118
Okay, no problem. I change my implementation - it is also easier to handle for me.

[2020-01-29 09:08] VolkerHBZ commented on #118
There are different token store implementations to choose from. the former had unlimited lifetime for refreshTokens and expiring accessTokens, but no logout. The current one supports logout but doesn't expire the accessTokens. Hence there's no use for refreshTokens.

[2020-01-29 09:11] dirk-ecker commented on #118
Strange, logout and refresh token makes sense IHMO and we use it also in our other API.

[2020-01-29 09:39] dirk-ecker commented on #118
Log In is working

[2020-01-29 09:42] dirk-ecker commented on #119
It works.

[2020-01-29 09:46] dirk-ecker commented on #119
Adds not needed Cookie to the response: JSESSIONID

[2020-01-29 13:15] VolkerHBZ commented on #119
The Session Cookie could be responsible for the server-side error of data being accessible after logout still.

[2020-01-29 13:57] dirk-ecker commented on #119
Ah, he is not really logging out.

[2020-01-30 09:42] MiriKon opened #140 "Curatory Group Changes"
I have noticed that when a curatory group is deleted in the GOKb packages, those changes are not automatically reflected in LAS:eR in ALL PACKAGES.

![Sync_GOKb_LASER_2](https://user-images.githubusercontent.com/45172978/73437032-e6158680-434b-11ea-8481-ac7f8caad940.JPG)
![Sync_GOKb_LASER_1](https://user-images.githubusercontent.com/45172978/73437033-e6158680-434b-11ea-9d91-6f7372740892.JPG)

It s

[2020-01-30 09:46] croqueGrec09 commented on #140
ex LAS:eR Ticket #2122
I strongly support the issue and suggest general extension to every other dependent object type since it is somewhat annoying to not seeing updates done on dependent objects just because the main object needs to be updated. This was the case with TIPPs as well before that was changed. And there may be more than one consumer of the GOKb-ES-Api.

[2020-01-30 10:37] croqueGrec09 commented on #140
See https://phaeton.hbz-nrw.de/gokb/oai/packages?verb=getRecord&metadataPrefix=gokb&identifier=65e67457-c48f-43f0-8489-f18cecb4d3bb
It seems that the inner-GOKb-Sync (so the mirroring) is not considering curatory groups ...

[2020-01-30 13:49] croqueGrec09 commented on #140
For the moment, the OAI endpoint for CuratoryGroups is not specified so that a transmission of curatory group changes is not possible right now. This is needed to be implemented.

[2020-01-30 17:50] hornmo commented on #33
Fixed in #104

[2020-01-30 17:50] #33 closed, assigned to nobody

[2020-01-30 17:50] #46 closed, assigned to hornmo

[2020-01-30 17:51] #67 closed, assigned to VolkerHBZ

[2020-02-03 13:13] VolkerHBZ commented on #130
separate endpoint for editing user profiles
/profile works only for the authenticated user, changing his own profile.

[2020-02-03 13:49] darupp commented on #125
Doublet with #122

[2020-02-03 13:49] #125 closed, assigned to VolkerHBZ

[2020-02-04 13:29] dirk-ecker opened #142 "View Profile: Update the user profile"
### Description
After editing the profile data, the user can persist them.

### Implementation
[code]
The given password has to be checked against the current password.
It should return the updated entity back to the caller.

#### Estimated Workload: 2-3 d
#### Actual Workload:

[2020-02-04 14:28] dirk-ecker opened #143 "Main Menu: Global Search"
### Description
The global search at the top of the main view needs a REST-Endpoint that searches among all Entities of type package, publisher, journal ... that contains the given title/name.

### Implementation
[code]

We should discuss the ordering/grouping of the results. What makes sense?

#### Estimated Workload: 1 d
#### Actual Workload:

[2020-02-04 15:58] VolkerHBZ commented on #143
The result comes grouped in chunks of size *limit*. Ordering by some sort of natural order (alphanumerically) makes sense, changing that order in a paginated list seems pretty much useless to me.

[2020-02-05 13:48] dirk-ecker opened #144 "View Maintenance: Get available creators"
### Description
The maintenance dialog contains a select input for all available creators, that has to be filled.
(Fachkonzept_Erfassungsclient, p. 69)

### Implementation
[code]
To discuss: Maybe the concept wants a list of users at this point, a service we already have.

#### Estimated Workload:
#### Actual Workload:

[2020-02-05 14:06] dirk-ecker opened #145 "View Maintenance: Missing requirements ...."
The description of the maintenance view is not complete and missing multiple details.
(Fachkonzept_Erfassungsclient, p. 69)

[2020-02-06 07:28] dirk-ecker commented on #121
The links do not need update or delete in its path because the update is specified through the method POST, PUT, DELETE, ...
The link itself is embedded into an object using an attribute href to specify the link.

[code]

[2020-02-06 07:47] dirk-ecker commented on #119
Works as expected

[2020-02-06 09:20] dirk-ecker opened #146 "View Create Title: Add/Update a title (was: Review? or Create a title)"
It is not explained what the button at the bottom should trigger.
(p. 52)

My guess ist, that the title is made persistent and put into the next process stage, called review. So this button simply creates the title with state "to be reviewed".

This is a bad UI. I think we should rename the button to Aktualisieren or Speichern. When the user selects a reviewer it is marked as to be reviewed otherw

[2020-02-06 09:21] dirk-ecker opened #147 "to be deleted"
not relevant

[2020-02-06 09:21] dirk-ecker opened #148 "to be deleted"

[2020-02-06 09:21] dirk-ecker opened #149 "to be deleted"

[2020-02-06 09:22] dirk-ecker opened #150 "View Create Title: Get User (was: Get Reviewer)"
What are Reviewers? What is the name of the entity? Users?
(p. 52)

[2020-02-06 09:23] dirk-ecker opened #151 "View Create Title: Search identifier"
### Description
The view contains an identifier field. The identifier the user wants to add to the title has to be checked if it is already assigned to another title. So we need a service to search for an identifier by value.
(p. 52)

### Implementation
[code]
#### Estimated Workload: 2 d
#### Actual Workload:

[2020-02-06 09:23] dirk-ecker opened #152 "View Create Title: Search title"
### Description
The view contains an title field. The title the user wants to add to the title has to be checked if it is already assigned to another title. So we need a service to search for a title by title.
(p. 52)

### Implementation
[code]
#### Estimated Workload: 2 d
#### Actual Workload:

[2020-02-06 09:49] #147 closed, assigned to nobody

[2020-02-06 09:51] #148 closed, assigned to nobody

[2020-02-06 09:51] #149 closed, assigned to nobody

[2020-02-06 10:00] hornmo commented on #140
Fixed in v8.5.0 (#141 ). Both systems need to be running the new version for this to work, and the latest version of sync scripts has to be used.

[2020-02-06 10:02] croqueGrec09 commented on #140
When can we expect a deploy of 8.5.0?

[2020-02-06 10:14] dirk-ecker opened #153 "View Create Title: Missing requirements for database"
The document describes in one sentence that the user can change between Journal, Book and Database, but Database is not further explained.

(p.53)

[2020-02-06 11:09] hornmo commented on #140
Gokb.org is already running on 8.5.0, phaeton should be following shorty I imagine.

[2020-02-06 12:20] dirk-ecker opened #154 "View Create Title: Details about legal information missing"
The dialog shows legal information (Impressum) as a select field without telling what it is and where it comes from.
(p. 54)

[2020-02-06 12:29] dirk-ecker opened #155 "View Title History: Splitting/Merging Titles"
It is mentioned that titles could be splitted or merged, but not how this can be accomplished.

(p. 55)

[2020-02-06 12:37] dirk-ecker opened #156 "View Title History: Get title history"
### Description
The view has to show the title history for a title, so the Endpoint title should give us this.
(p.55)

### Implementation
[code]

#### Estimated Workload: 1d
#### Actual Workload:

[2020-02-06 13:05] dirk-ecker opened #157 "View Create Package: Add source"
### Description
If not available we should create a new source with the given name. (p.34)

### Implemenation
POST /source
{
  data: {
    shortCode: ‘q1’,
    name: 'Quelle 1'
  }
}
[code]

[2020-02-06 13:20] dirk-ecker opened #158 "View Create Package: Add provider"
### Description
If the user wants to add a new provider, we need a corresponding REST service. (p.35)

### Implemenation
[code]

Should return the created entity.

#### Estimated Workload:
#### Actual Workload:

[2020-02-06 13:21] dirk-ecker opened #159 "View Create Package: Search provider"
### Description
The create package dialog contains a select input for all available provider, that has to be filled.

### Implementation
[code]
#### Estimated Workload:
#### Actual Workload:

[2020-02-06 13:21] dirk-ecker opened #160 "View Create Package: Search platform"
### Description
The create package dialog contains a select input for all available platforms, that has to be filled.

### Implementation
[code]
#### Estimated Workload:
#### Actual Workload:

[2020-02-06 13:22] dirk-ecker opened #161 "View Create Package: Add platform"
### Description
If the user wants to add a new platfom, we need a corresponding REST service. (p.35)

### Implemenation
[code]

Should return the created entity.

#### Estimated Workload:
#### Actual Workload:

[2020-02-06 13:28] dirk-ecker opened #162 "View Create Package: Add/Update package"
### Description
In step 4 of creating a package we need a service to store everything.
service. (p.43)

### Implementation
[code]

Should return the created entity.

#### Estimated Workload: 3-4d
#### Actual Workload:

[2020-02-06 13:29] dirk-ecker opened #163 "View Edit Package: Update package"

[2020-02-06 13:30] dirk-ecker opened #164 "View Edit Package: Retire package"

[2020-02-06 13:31] dirk-ecker opened #165 "View Edit Package: Delete package"

[2020-02-06 14:02] dirk-ecker opened #167 "View Packages: Search packages"
### Description
Search packages with : name, providers,  curatory groups or status.

#### Input
name, String,
providers, Numbers,
curatory group ids, curatoryIds, Numbers,
status statusId, Number,
paging, offset and limit, Number,

sorting, asc or desc, String

#### Output
List of packages with paging and name an ...

### Implementation

[code]
The self link can be used to edit a specific package,

[2020-02-06 14:23] VolkerHBZ commented on #123
@darupp What's the status after this endpoint has been triggered? Has the user been completely wiped from the database? Or is the account just set to be inactive? If so, how can the user control the final deletion of his data?

[2020-02-06 15:16] dirk-ecker commented on #121
Da müsste noch was angepasst werden.
Danke.

[2020-02-06 15:25] dirk-ecker commented on #123
We already discussed the question, I think. The account is set inactive and can not be used to log in, all private data must be erased e-mail and the like.

[2020-02-07 07:32] dirk-ecker opened #168 "View Create Provider: Missing requirement"
It is not described how we can get there.
(p. 58)

[2020-02-07 08:49] dirk-ecker opened #169 "View Create Provider: Reference?"
It is not specified what this should be?
(p. 59)

[2020-02-07 09:07] dirk-ecker opened #170 "View Edit Provider: Missing requirement"
It is not described how we can get there.
(p. 60)

[2020-02-07 09:09] croqueGrec09 opened #171 "TitleHistory: TitleInstances pointing to deleted instances"
There are a display error and a connection error.

The title Czechoslovak journal of physics is connected to The European physical journal D. There are two instances of The European physical journal D: one of them is deleted and one of them is current.

When listing the TitleHistory, we see TitleHistoryEvents concerning both. That is somewhat very irritating. The OAI PMH extract delivers -correctl

[2020-02-07 09:10] croqueGrec09 commented on #105
What is the current state of this issue? It would be very interesting for sync questions ...

[2020-02-07 09:34] darupp commented on #170
As this doesn't fit in the workflow where you can create a provider, if not found, via the second step in "create package" (See p. 35/p. 59), we need an extra workflow here.

Provider should be a top level menu item "Provider" on the left hand menu and analogue to "package" and "tilte", from where you can
  * search a provider
  * edit a provider as on p. 59

[2020-02-07 10:44] hornmo commented on #143
Results will be retrieved via Elasticsearch and would therefore be ordered by relevance score (unless otherwise specified).

[2020-02-07 10:55] hornmo commented on #150
Reviewers are Users linked in the field `allocatedTo` of a ReviewRequest. Those in turn will be connected to the title itself via a one-to-many association. This function will generate a new ReviewRequest allocated to a User with an optional note.

[2020-02-07 11:00] dirk-ecker commented on #170
New menu item 'Provider' added.

![image](https://user-images.githubusercontent.com/35012374/74024106-69b12200-49a1-11ea-8d4b-39b0fd5ee2df.png)

[2020-02-07 11:00] hornmo commented on #152
@dirk-ecker  More specifically, since there is a selection up top for the type of title (Journal, Book, Database), this should really search only in the selected type. So `/journals`, `/books` or `/databases` would be better, unless we want to add that as an additional parameter to a generic `/title` endpoint search (which we will need in addition anyways).

[2020-02-07 11:10] dirk-ecker commented on #152
Okay, so we need search capability for resource title and when needed, we add further endpoint for journals, books and databases.

[2020-02-07 11:12] dirk-ecker commented on #150
So a reviewer is a user - I changed the title.

[2020-02-07 11:15] dirk-ecker opened #172 "View Edit Provider: Seach package"

[2020-02-07 11:15] dirk-ecker opened #173 "View Edit Provider: Search titel"

[2020-02-07 11:15] dirk-ecker opened #174 "View Edit Provider: Delete titel"

[2020-02-07 11:15] dirk-ecker opened #175 "View Edit Provider: Archive titel"

[2020-02-07 11:15] dirk-ecker opened #176 "View Edit Provider: Add titel"

[2020-02-07 11:15] dirk-ecker opened #177 "View Edit Provider: Delete package"

[2020-02-07 11:15] dirk-ecker opened #178 "View Edit Provider: Archive package"

[2020-02-07 11:16] dirk-ecker opened #179 "View Edit Provider: Add package"

[2020-02-07 11:16] dirk-ecker opened #180 "View Edit Provider: Export package"

[2020-02-07 11:16] dirk-ecker opened #181 "View Edit Provider: Delete provider"

[2020-02-07 11:16] dirk-ecker opened #182 "View Edit Provider: Archive provider"

[2020-02-07 11:16] dirk-ecker opened #183 "View Title: Delete title"

[2020-02-07 11:16] dirk-ecker opened #184 "View Title: Archive titel"

[2020-02-07 11:16] dirk-ecker opened #185 "View Title: Get publisher"

[2020-02-07 11:16] dirk-ecker opened #186 "View Title: Get types"

[2020-02-07 11:16] dirk-ecker opened #187 "View Dashboard: Get imports"
the same as in #189

[2020-02-07 11:16] dirk-ecker opened #188 "View Dashboard: Get maintenance"
the same as in #189

[2020-02-07 11:16] dirk-ecker opened #189 "View Dashboard: Get reviews"
### Description
Search reviews with type and creator for displaying table entries with name, type, created at, created from. (p.51)

#### Input
type, String,
creator, Number,
paging, offset and limit, Number,

sorting, asc or desc, String

#### Output
List of reviews with paging and name an ...

### Implementation

[code]

#### Estimated Workload: 2-3d
#### Actual Workload:

[2020-02-07 11:16] dirk-ecker opened #190 "View Packages: Delete package"

[2020-02-07 11:17] dirk-ecker opened #191 "View Packages: Archive package"

[2020-02-07 11:17] dirk-ecker opened #192 "View Packages: Export package"

[2020-02-07 11:17] dirk-ecker opened #193 "View Packages: Get identifier"
### Description
The users dialog contains a select input for all available identifiers, that has to be filled.

### Implementation
[code]
#### Estimated Workload:
#### Actual Workload:

[2020-02-07 11:17] dirk-ecker opened #194 "View Packages: Get providers"

[2020-02-10 13:54] #140 closed, assigned to hornmo, darupp

[2020-02-11 14:45] darupp opened #196 "Crossreferencing API should accept date formats as YYYY or YYYY-MM"
The Crossreferencing API should accept date formats as YYYY or YYYY-MM, because these formats apply to the KBART standard:

[code]
Source: https://groups.niso.org/apps/group_public/download.php/16900/RP-9-2014_KBART.pdf

[2020-02-12 13:27] VolkerHBZ commented on #144
Closed for being the same as #128

[2020-02-12 13:27] #144 closed, assigned to VolkerHBZ

[2020-02-12 13:44] VolkerHBZ commented on #120
Not implemented because of the risk of possible abuse and DOS.

Register your new account via the old HTML interface.

[2020-02-12 14:34] croqueGrec09 opened #197 "UUID mismatch on nominalProvider record"
Comapre these two OAI records of the same package:

https://phaeton.hbz-nrw.de/gokb/oai/packages?verb=GetRecord&metadataPrefix=gokb&identifier=1b1ae804-343a-4854-9a5a-4e78e3e309eb

vs.

https://gokb.org/gokb/oai/packages?verb=GetRecord&metadataPrefix=gokb&identifier=1b1ae804-343a-4854-9a5a-4e78e3e309eb

Nominal provider's names are matching but the UUIDs do not. This causes LAS:eR to miss updates

[2020-02-12 15:06] dirk-ecker commented on #120
We could implement it with reCAPTCHA I think:
https://developers.google.com/recaptcha
https://www.codeproject.com/Articles/116250/Custom-reCaptcha-Validation

What do you think @darupp ?

[2020-02-12 16:22] darupp commented on #169
Provider should be a top level menu item "Create provider" on the left hand menu and analogue to "Create package" and "create title". There is some inconsistency in the concept (p. 59) right now regarding the labels "organisation" and "provider". For now, we should stick with "provider" and discuss the correct term later.

[2020-02-12 16:22] darupp commented on #168
Provider should be a top level menu item "Create provider" on the left hand menu and analogue to "Create package" and "create title". There is some inconsistency in the concept (p. 59) right now regarding the labels "organisation" and "provider". For now, we should stick with "provider" and discuss the correct term later.

[2020-02-12 16:25] darupp commented on #169
Needs to be discussed. This seems to be legacy from the old GOKb. "On hold" for now. @hornmo, do you think we can ignore this field? I see no real need for it.

[2020-02-12 16:47] darupp commented on #155
The splitting and merging is done via the buttons "Vorgänger" and "Nachfolger" that open the modal dialogue (p. 56). Regarding the data, this is defined by a title history event with
  * set of predecessor title references
  * set of successor title references
  * event date

https://laser-qa.hbz-nrw.de/box/gokb-dbschema/tables/component_history_event.html

[2020-02-13 12:45] hornmo commented on #169
Yes, this field has never really been used.

[2020-02-13 13:48] dirk-ecker opened #198 "View Create Package: Get available sources"
### Description
The create package dialog contains a select input for all available sources, that has to be filled. (p.34)

### Implementation
[code]
#### Estimated Workload: 2d
#### Actual Workload:

[2020-02-13 14:01] dirk-ecker opened #199 "View Create Package: Add identifier"
### Description
If the user wants to add a new identifier using the modal dialog, we need a corrsponding REST service. (p.35)

### Implemenation
[code]

Should return the created entity.

#### Estimated Workload:
#### Actual Workload:

[2020-02-13 14:03] dirk-ecker commented on #199
There has to be done a little bit more, I think, because it will be more like an identifier type and identifier values, we have to support.

[2020-02-14 08:25] dirk-ecker opened #200 "View Create Package: KBART Import"
The integration of Igor has to be discussed.

[2020-02-14 16:19] hornmo commented on #108
Added in #141

[2020-02-14 16:19] #108 closed, assigned to hornmo, VolkerHBZ

[2020-02-17 13:20] darupp commented on #154
On Hold, because "Impressum" is unclear at the moment

[2020-02-17 13:22] darupp commented on #153
Database has neither the book fields nor the journal fields. As object, it is comparable to journal.

[2020-02-17 13:25] darupp commented on #146
We should not contextualise the button at the bottom, so the button should be "Aktualisieren" or "Speichern" (as usual)

[2020-02-17 13:32] darupp commented on #145
Reviewed in https://github.com/openlibraryenvironment/gokb-ui/issues/2

[2020-02-17 13:52] darupp commented on #162
Should be package header incl. ids, provider, alternate names etc., but _without_ tipps.

[2020-02-17 15:12] darupp opened #203 "Package import per CrossReferencing API: Different import options"
As sometimes providers only give KBART information about _new_ titles  and not about _all_ titles (= new + existing), there should be the option to add tipps/titles to a package without setting all missing titles to "retired".

I recommend a request parameter _addOnly_ with a boolean value. The default value is _false_.

[2020-02-18 14:06] croqueGrec09 opened #204 "ElasticSearch: unparseable :"
The following package contains ":" in the name: https://phaeton.hbz-nrw.de/gokb/resource/show/89d493cb-cf3b-4a44-845c-f7e64d4c07c3

When I make a search against ES Index, I do not get this package unless I seach exactly for the exact name. This is due to the colons in the package name.
This affects also LAS:eR side package linking since the package does not figure in that list, too.

[2020-02-18 14:09] darupp commented on #204
So the ES Index should accept colons, i.e. should not interpret colons as functional characters. @hornmo , can this be fixed?

[2020-02-19 06:53] croqueGrec09 commented on #204
In LAS:eR, colons are already escaped.

[2020-02-19 11:16] hornmo commented on #204
I am assuming your are searching via the parameter `name`? That one only searches for whole words, and since `:` is not defined as a breaking character the only way to find this mislabeled package is by searching for the whole name. It can however be found by searching via the `suggest` parameter, which sounds like what you are looking for anyways:
https://gokb.org/gokb/api/find?componentType=Pack

[2020-02-19 13:09] darupp opened #206 "Stronger editing and deleting permissions"
As open knowledge base, the goal of the GOKb is to work cooperatively on its content. To prevent edit wars, there is a weak permission system regarding curatory groups, so if you want to change packages that are not curated by your group, you get a warning message that can be overridden.

As the prevention of edit wars for certain packages and as a mean of trust for data users who are getting back

[2020-02-19 13:20] darupp opened #207 "Dates for alternate names"
Especially provider organisations change their names quite regularly. So there should be date fields like "from" and "to" in the _Alternate names_ section.

The _Relations_ section, where predecessors and successors are given, has technically a large overhead for simple and regular name changes, as a new organisation object has too many dependencies.

[2020-02-19 14:20] hornmo commented on #199
Identifiers are only created in the context of another component (eg package, title etc.). For this context, see for example #162.

[2020-02-19 14:36] hornmo commented on #193
Can you give me the context of this requirement? I'm not sure if this should be identifier values or namespaces, as suggested by the value "ISBN".

[2020-02-19 14:41] croqueGrec09 commented on #204
The name is going to be changed.
On the other hand, I do get a default.error.exception when I search for "Wiley: " in the global search.
It may be that it is because of the unparseable colon. I propose code like:
`if(params.q.contains(":") || params.q.contains("-")){`
`sw.write("\"${params.q}\"")`
`}`

[2020-02-19 14:43] hornmo commented on #188
Backend specification of maintenance has to be discussed. On hold for now.

[2020-02-19 14:44] hornmo commented on #187
Backend specification has to be discussed. On hold for now.

[2020-02-19 15:53] hornmo commented on #204
Right, this seems to be a bug concerning the global search queries specifically, thanks for pointing that out.

[2020-02-20 08:43] dirk-ecker commented on #193
It's almost everywhere. Yes it's a bit more complicated. We need the possible types of identifiers and also their values.

[2020-02-26 13:34] croqueGrec09 opened #208 "batch process script for TitleInstance class correction"
In order to correct the title instance types, the script to display the title class diffs between phaeton-dev and phaeton-prod has to be enhanced so that the pre-sync instance type is being inserted into the productive environment.

To test: use local database instances!

[2020-02-26 13:36] croqueGrec09 commented on #208
As reference
[laser_gokb_title_type_diff_20191209.txt](https://github.com/openlibraryenvironment/gokb/files/4255978/laser_gokb_title_type_diff_20191209.txt)
Confirmed by test run on local copies of both databases (i.e. prod snapshot from October 10th, '19 and February 26th, '20)

[2020-02-26 15:20] dirk-ecker commented on #146
like in #130

[2020-02-26 15:23] dirk-ecker commented on #150
like #126

[2020-02-26 18:32] HebisJC opened #209 "Force "Last Updated" param on title-instances to become updated when dependant modules do"
It seems like the "Last Updated" parameter set on a title-instance doesn't always update when its dependent modules were updated.

It is wishable to also set this parameter when "Alternative Names", "Identifiers", "Platforms", "Publishers", etc. of the title-instance changes.

This is very important when delivering data by the OAI API which allows partial requests by setting the "from/until"  para

[2020-02-28 14:28] croqueGrec09 commented on #117
The issue gets even more critical since the last coverage statement of a TIPP does not get deleted in LAS:eR as there is still a coverage statement in the OAI extract!

[2020-02-28 15:38] croqueGrec09 opened #210 "TIPP disappears from OAI output"
Occurred in dev.

Whenever I set in a TIPP the property Depth from Fulltext to Empty (https://phaeton-dev.hbz-nrw.de/gokb/resource/show/org.gokb.cred.Package%3A236080), the whole TIPP disappears from the corresponding OAI extract.

[2020-02-28 17:29] hornmo commented on #117
Related to #210

[2020-02-28 17:41] hornmo commented on #210
Thanks for the report. This is caused by unexpected HQL behaviour (as described here: http://tomaszdziurko.com/2011/12/problem-withjpa-join-column-null-values-and-orderby/).

We'll have a fix in the next release, but we may also take this opportunity to make `coverageDepth` not-nullable (this is already validated for in integration imports anyway).

[2020-03-02 13:57] darupp commented on #206
Implemented in the REST Controllers for new GUI. Should also be integrated for package and tipps in the old UI.

[2020-03-03 11:12] VolkerHBZ commented on #123
deployed in Ver 8.5.1

[2020-03-04 10:58] dirk-ecker commented on #123
Checked dev with https://phaeton-dev.hbz-nrw.de/gokb/rest/profile that gives me
an empty JSON: {}

A 200 does it, you can remove the {}

[2020-03-04 11:01] dirk-ecker commented on #121
delete link ist missing and update link contains /profile/update instead only /profile what is sufficient.

[2020-03-04 11:03] dirk-ecker commented on #167
Actual delivers 500.

[2020-03-04 17:06] #76 closed, assigned to hornmo, VolkerHBZ

[2020-03-04 17:17] hornmo commented on #196
Added in v8.5.1

[2020-03-04 17:17] #196 closed, assigned to hornmo

[2020-03-12 07:50] balindstrot opened #213 "Create New Journal/eBook: „Published From“ and „Published To“ disappear"
After activation “Create and Edit >>”, the entries of the fields “Published From” and “Published To” disappear.

[2020-03-12 10:46] darupp commented on #132
Because the OAI content would be an object and not a simple string, this would be a breaking change for all endpoints where only the string is given. Better would be to get this information only via the groups endpoint where this would be merely an additional field.

ES Index would be less problematic, but successively the ES Index would grow with every new data and we have to find a solution.

[2020-03-12 10:47] darupp opened #214 "ES Re-Indexing Gap"

[2020-03-12 10:53] darupp commented on #132
For ES Index
[code]
would then be
[code]

[2020-03-12 11:15] darupp opened #215 "Hiding of personal information in UI"
Especially the user name in "lastUpdated by" may be problematic regarding privacy laws and privacy standards by library personnel boards. They should simply be hidden in the UI.

[2020-03-12 14:54] darupp commented on #133
* is already realised for platforms
  * OAI API and ES Index should also give out the curatory groups

[2020-03-12 15:03] darupp commented on #137
Additional question: Right now an office has its own curatory group. Is this correct so?

[2020-03-12 15:16] darupp commented on #136
Problems
  * A country list doesn't necessarily include all possible regions like "European Union" or "German-Austria-Swiss Region"
  * A multiple selection is hard to implement

So "regional" can be added under "global", but the country selection has to be reconsidered.

[2020-03-12 15:27] darupp opened #216 "Reconsideration of package naming"
Current naming conventions should be reconsidered, because it's a soft rule on a wiki page without UI enforcing. It could be enforced in multiple ways:
  * Concatenation of different UI fields for every name aspect: Provider acronym; package core name; scope; year
  * Same, but not concatenated, but persisted in different fields
  * ...

[2020-03-12 15:47] darupp commented on #132
Curatory groups carry the additional function of giving information about the context in which a package is used. How can this be enforced or become clearer? An option would be a type "context".

[2020-03-13 13:07] hornmo commented on #210
Fixed in #212

[2020-03-13 13:07] #210 closed, assigned to hornmo, VolkerHBZ

[2020-03-13 13:07] hornmo commented on #117
Fixed in #212

[2020-03-13 13:07] #117 closed, assigned to hornmo, VolkerHBZ

[2020-03-16 09:07] hornmo commented on #215
Added for next version.

[2020-03-16 09:07] #215 closed, assigned to hornmo

[2020-03-16 12:27] hornmo commented on #206
Added for next version.

[2020-03-16 12:27] #206 closed, assigned to hornmo

[2020-03-16 12:29] hornmo commented on #133
Added in c615fa97be5aec9eeddedc412b5ccba60efb8645

[2020-03-16 12:29] #133 closed, assigned to hornmo

[2020-03-16 12:32] hornmo commented on #109
Added in 336b6e0

[2020-03-16 12:32] #109 closed, assigned to hornmo

[2020-03-19 11:26] croqueGrec09 opened #218 "OAI-PMH: deliver dates without time data where time is not necessary"
Non-system-side set date fields have time data which is irrelevant, e.g. a coverage start time of a journal is meaningless. As no XML schema is linked to the OAI-PMH metadata, it is completely on our behalf how we output date data. At the moment, we deliver them as xs:dateTime formats with time zone, i.e. YYYY-MM-DDTHH:MM:SSZ. Asaforesaid, there is no rule which would prevent us to switch to xs:da

[2020-03-19 15:07] darupp commented on #218
I would go further and strongly suggest that we should also use a `Date` format internally, and not a `DateTime` format. Even in the PostgreSQL database we should use the 4 byte type `Date`. So we can prevent possible further errors like timezone conversions that switch dates like `coverageStart` "2020-01-01T00:00:00" to "2019-12-31T23:00:00" that would result in the wrong day.

Best would be to s

[2020-03-20 06:10] croqueGrec09 commented on #218
For "2020", there is the data type "Year", but this is a completely other data type. There is also the class GregorianCalendar to mention. But none of them resolves really the question how to store them in the database. And beware that LAS:eR and every other pulling system needs to be aware of that!

[2020-03-20 07:50] dirk-ecker commented on #121
delete link ist missing and update link contains /profile/update instead only /profile what is sufficient.

To much details in the result, I do not need. Let us start lean,

[2020-03-25 11:49] hornmo commented on #203
Added in 8.5.4

[2020-03-25 11:49] #203 closed, assigned to hornmo

[2020-03-25 11:54] hornmo commented on #171
Fixed in 8.5.1

[2020-03-25 11:54] #171 closed, assigned to hornmo

[2020-03-26 07:35] dirk-ecker opened #219 "View Seach Packages: Support Identifier"
The image on page 49 shows an input field for identifier, the description is missing.
Do we support identifier?

[2020-03-26 07:44] dirk-ecker opened #220 "View Search Packages: GOKb-Format/KBART-Format not specified"
It is a formal specification needed to implement the export in GOKb-Format/KBART-Format.

[2020-03-26 08:17] darupp commented on #220
You can find the specification linked here: https://service-wiki.hbz-nrw.de/pages/viewpage.action?pageId=470024321

- The first link leads to the official KBART documentation
- At the bottom of the table, you find proprietary extensions of the GOKb

[2020-03-26 11:05] hornmo commented on #219
Yes, Packages should be able to be linked to identifiers.

[2020-03-26 11:37] dirk-ecker commented on #219
No, that is not the question. Should it be possible to search packages by identifier?

![image](https://user-images.githubusercontent.com/35012374/77642779-80660500-6f5e-11ea-9e09-d9c1749b3bbb.png)

[2020-03-26 11:42] darupp commented on #219
In my opinion absolutely, as we get more and more package identifiers of different namespaces.
Regarding a search field, an identifier should be searched regardless of the namespace, so a search term like "ZDB-55-120" would suffice to find all packages that have this identifier in one of their used identifier namespaces.

[2020-03-27 06:51] dirk-ecker commented on #220
Thanks for the link.
The filename format should be

[ProviderName]_[Region/Consortium]_[PackageName]_[YYYY-MM-DD].txt

but in the near future we will have the possibility to choose more than one provider. Consortium means the same as curatory group? Where to get the PackageName? Do we need a dialog to specify these parameters?

In other words, what should the format be?

[2020-03-27 07:17] darupp commented on #220
There will still be only one provider per package, see pp. 35/36 or pp. 49/50. The export files are always package specific. If in the list on p. 49 more than one package is picked, there should be multiple KBART and GOKb files exported (maybe in a ZIP).

All String fields in the table should be normalized regarding the KBART title to fit the filename format (All blanks should be underscores, no f

[2020-03-27 12:17] hornmo commented on #220
There are existing public endpoints for exporting Packages which can be used:

KBART: <gokb-url>/packages/kbart/<uuid|OID>
GOKb-Format: <gokb-url>/packages/packageTSVExport/<uuid|OID>

These Endpoints return *.tsv files. We are planning to improve the parameter handling to also work with the database id.

[2020-03-27 13:43] dirk-ecker commented on #220
Okay, good point. We should use these, instead of creating new one, I think.

[2020-03-30 06:58] dirk-ecker commented on #220
Nice.
I've tested the following url

https://gokbt.gbv.de/gokb/packages/kbart/6196e907-59df-4cfd-94f6-91dd1e72b0b0

It gives me a 403 and Invalid CORS request.

Can you adjust the service to accept my request?

We should extend the service so that it can handle a query to specify the packages to export.

@darupp At least we need a select to choose the format KBART or GOKb and also a progress indic

[2020-03-30 07:00] croqueGrec09 commented on #5
I would like to push this issue and suggest that bk_edition_number is going to be set to integer in order to prevent a priori erroneous values. Already now, we have a few (~3) false values in gokb.org. We should fix this ASAP in order to prevent larger cleanup later.

[2020-03-30 09:54] hornmo commented on #220
Wouldn't it be okay to just generate and display those links in the UI?

[2020-03-30 11:36] dirk-ecker commented on #220
Thats a question for @darupp but I think not realy, cause the user want to download. You do not want to manually download those files by hand.

[2020-03-30 11:51] darupp commented on #220
@dirk-ecker You're right, a dialogue and a progrss tracker would help here greatly.

[2020-03-30 11:58] dirk-ecker commented on #131
I always get a 404, not found. Maybe my guess of an id is to bad, but the id of my profile does also not work: https://phaeton-dev.hbz-nrw.de/gokb/rest/users/1859007.

What am I doing wrong?

[2020-03-30 12:14] croqueGrec09 opened #221 "Edition Number: validate user entry"
References #5
In order to ensure data integrity, edition number of e-books (bk_ednum) field should be filled only with integer values. As a short term solution, we should implement a validation on controller level.

[2020-03-30 12:16] croqueGrec09 opened #222 "Gorm DBM-plugin for GOKb"
In LAS:eR, a Liquibase DBM plugin is hooked up to automatically process database migrations. This enables a wide range of automatisation which is executed upon deploy what facilites data cleanup and database migrations across instances.
For mid-term, that DBM process flow should be integrated into GOKb instances. I should check out for that how DBM plugin is configured in LAS:eR and set it up equi

[2020-03-30 12:38] dirk-ecker commented on #220
In the first version we will support export for a single selection, means only one package.

[2020-03-30 12:41] croqueGrec09 commented on #222
config in LAS:eR
BuildConfig.groovy -> Plugins -> runtime ":database-migration:1.4.0"
Config.groovy -> grails.plugin.databasemigration.x - Einträge
(Config.groovy: consider also server overrides)
The versions to consider: https://plugins.grails.org/plugin/grails/database-migration

[2020-03-30 16:23] VolkerHBZ commented on #131
nothing.

The implementation of the user endpoint is on another branch (mine), than the one that's deployed (Moritz'), therefore, it's not online yet on phaeton-dev.

Sorry 'bout that.

[2020-04-01 06:35] croqueGrec09 commented on #105
Alright; when can I expect a PROD deploy of this bugfix?

[2020-04-01 10:15] hornmo commented on #105
The fix was merged in 8.5.1 and should therefore already be deployed.

[2020-04-01 10:15] #105 closed, assigned to hornmo

[2020-04-01 16:03] hornmo commented on #219
Search by values via `?ids=<value>` added in #223

[2020-04-15 13:51] VolkerHBZ commented on #128
changed endpoint to users/search for simplicity and to distinguish from the /users/{id} endpoint

[2020-04-17 12:00] croqueGrec09 opened #227 "OAI-PMH extract for TIPPs not delivering platformProviders"
When syncing package data, notably via the ListRecords endpoint, TIPP Platform stubs deliver name and UUID but no provider data. So the only way to update a platform's provider data is if it is indicated as a nominalProvider's provided platform. I would therefor suggest that the platform stub delivers a provider's UUID in order to update that as well.

[2020-04-17 13:48] croqueGrec09 opened #228 "platform provider not synced"
Tested with these records:

https://gokb.org/gokb/resource/show/c84d8db3-598f-48bf-9890-423b84900505
vs.
https://phaeton.hbz-nrw.de/gokb/resource/show/c84d8db3-598f-48bf-9890-423b84900505

In gokb.org record, provider is indicated whereas not in phaeton. The gokb.org record was touched and sync was obviously taking place but no provider data has been transmitted.

[2020-04-17 14:06] croqueGrec09 commented on #228
Comparing these two records:
https://gokb.org/gokb/resource/show/46eeea35-64fd-4dea-ac43-0d215b264b05
vs.
https://phaeton.hbz-nrw.de/gokb/resource/show/46eeea35-64fd-4dea-ac43-0d215b264b05,
the primary URL is missing in phaeton record.

[2020-04-19 09:14] dirk-ecker commented on #128
is this technically driven

[2020-04-19 09:16] dirk-ecker commented on #128
we should create a usual rest api that is homegenous that means with no suprise for the user

[2020-04-20 07:32] VolkerHBZ commented on #128
OK

[2020-04-20 08:30] dirk-ecker commented on #128
if possible

[2020-04-22 06:21] darupp opened #229 "Prevent self-assigning of curatory group"
For every user it is possible to assign theirself to a curatory group. As curatory groups give the essential permissions to edit packages, platforms and orgs, you can elude the permission model.

As right now admin action is anyway required to give the necesseray user roles to a new user, he could also assign the curatory group.

So as provisional solution I strongly recommend showing the "Assign

[2020-04-22 10:01] hornmo opened #230 "New Role for UI client"
For endpoints that should be protected from public access but need to be accessed by the UI without a specific user context, a solution would be to have a dedicated UI client user which can be configured in application.yml and generated in Bootstrap.groovy.This user may benefit from a dedicated new role (_ROLE_UI_ ?) to better control specific permissions.

Possible endpoints checking for this cou

[2020-04-24 16:40] hornmo opened #231 "Title integration synchronization issues"

[2020-04-29 11:19] dirk-ecker commented on #142
at this time I only get 404 for PATCH and 500 for PUT

[2020-04-29 11:22] dirk-ecker commented on #142
we also should switch to PATCH because most of the time we will not change everything, I think and that is the meaning of PUT

[2020-04-29 12:40] dirk-ecker commented on #219
can you give me an example, i.e. I can`t find anything for zb

[2020-04-29 13:39] VolkerHBZ commented on #142
PUT as well as PATCH are implemented... maybe some issue with merging.

[2020-04-30 11:37] dirk-ecker commented on #126
the current implementation does not fit

[2020-04-30 13:39] dirk-ecker commented on #120
register gives me a 401
it should work without login

[2020-04-30 13:59] dirk-ecker commented on #128
endpoint says 403

[2020-04-30 14:49] dirk-ecker commented on #124
yes it gives you result, but these are provided not as the other types, with authority instead of name and written uppercase with dashes

[2020-04-30 15:44] VolkerHBZ commented on #126
Actually, there is no implementation of that endpoint. This whole status stuff makes no sense in application to users, as user states are not represented by numbers but boolean values such as isAdmin, passwordExpired, accountExpired, accountLocked etc.

[2020-04-30 15:49] VolkerHBZ commented on #120
Sorry, the implementation got not merged to the master, as the forementioned security concerns received deeper consideration.

[2020-04-30 15:57] VolkerHBZ commented on #124
There is no name property in the Role Domain Object Class. And it's value is just like that: uppercase with dashes. The only way of changing this is in the Database, as the number of roles is not fixed and a translation table in the code has to be expanded when new roles emerge.
![Roles](https://user-images.githubusercontent.com/48286407/80732066-14059500-8b0c-11ea-97db-1415a4720448.png)

[2020-05-11 05:03] croqueGrec09 opened #236 "touch of objects triggers syncing"
As discussed:

In order to trigger syncing process via OAI, an update of timestamp of objects without actually changing them, i.e. a "touch", is necessary (like the terminal command in Unix does). Usually, changing and reverting fields like "List Status" or "Edit Status" does the effect. Trying this in gokb.org in order to cause a timestamp update in synchonising GOKb instances had no success. The

[2020-05-11 14:16] #142 closed, assigned to VolkerHBZ

[2020-05-12 08:17] dirk-ecker commented on #199
Due to https://github.com/openlibraryenvironment/gokb-ui/issues/4#issue-613260292

[2020-05-13 12:22] dirk-ecker opened #237 "View Create Package: Source"
### Description
We need to search for available sources by name. (p.34)

### Implemenation
GET /source?name=test

#### Estimated Workload:
#### Actual Workload:

[2020-05-14 07:19] croqueGrec09 opened #238 "Title deletion by rejectWrongTitles seems not working"
Occurred on two different GOKb instances, version 8.6.2

When clearing a package by "Delete (with associated TIPPs)", then clearing by rejectWrongTitles, it is observed that title still remain current. There is no title association by TIPPs, at least, not displayed on title view.
This has the following unnice effects:
- title duplicates
- when uploading a file via Ygor and KBART, identifier match

[2020-05-14 07:52] croqueGrec09 commented on #228
The provider data is also missing for the following package. Comapre these two record:
https://gokb.org/gokb/public/packageContent/c6e8d1b7-b59b-48ed-80e0-458ca2dbdd9c
vs.
https://phaeton.hbz-nrw.de/gokb/public/packageContent/c6e8d1b7-b59b-48ed-80e0-458ca2dbdd9c

[2020-05-15 09:29] hornmo commented on #238
This is the intended behavior. The action checks for titles that have no TIPP combos at all, but deleting a TIPP does not delete its link to a title.
Since we concluded there would be no immediate negative consequences in adding those cases, we will adjust the action to include them for now. There will be a review of this further down the road.

[2020-05-18 07:58] VolkerHBZ commented on #129
Implemented as using the attribute enabled instead of active and with a data container in the request for consistency with other parts of the API

[code]

[2020-05-25 07:57] dirk-ecker commented on #128
searching by Gruppen still not possible (tested on phaeton-dev):
GET /rest/users?curatory=62898

also GET /rest/users?role=4 and GET /rest/users?enabled=true

[2020-05-25 08:50] dirk-ecker commented on #159
GET /rest/provider?name=whatyouwant gives a 404

[2020-05-25 10:07] VolkerHBZ commented on #159
I get a 500 - which is different, but wrong as well.

[2020-05-25 10:14] VolkerHBZ commented on #159
as a workaround, i suggest to use the additional parameter es=true in order to lookup the components via ElasticSearch rather than using the hibernate implementation which seems flawed (hence the 500 error).

[2020-05-25 10:42] dirk-ecker commented on #130
POST /rest/users
accountLocked: true
email: "111@dd.de"
enabled: true
password: "1111"
passwordExpired: true
roles: [1]
username: "1111"

creates only a empty user with no data

[2020-05-25 10:51] VolkerHBZ commented on #128
the correct parameter names are: curatoryGroupId, roleId and status with status being a boolean value that indicates whether a user is allowed to use the system (status=true) or not (status=false) with no status given, all users will be returned.

[2020-05-25 11:55] dirk-ecker commented on #159
yes now 500
the problem could lie in the lack of _include parameter, because with _include it works

[2020-05-25 11:58] dirk-ecker commented on #128
thank you for the hints

[2020-05-25 12:40] #159 closed, assigned to hornmo, VolkerHBZ

[2020-05-25 12:51] dirk-ecker opened #243 "View Provider: Search"
### Description
Search user with : name, role, curatory group or status.

#### Input
name, String,
roleId, Number,
curatory group id, curatoryId, Number,
status statusId, Number,
paging, offset and limit, Number,

sorting, asc or desc, String

#### Output
List of users with paging and name an email from user.

### Implementation

[code]
The self link can be used to edit a specific user, update can

[2020-05-25 13:43] philboeselager opened #244 "Login error"
- I try to login with my credentials as they have always been
- I get an error message: "Invalid username or password"
- I choose "Forgot password?" and follow the instructions: I click the link in the mail and re-set the password. For this moment, I am logged in.
- I log out
- I log in with my username and the new password
- I get the error message: "Invalid username or password" again

DOD: Havi

[2020-05-26 07:41] VolkerHBZ commented on #237
try: GET https://phaeton-dev.hbz-nrw.de/gokb/rest/sources?name=EBSCO

[2020-05-26 09:06] dirk-ecker opened #245 "View Create Package: Scope"
### Description
We need to select for available scopes (p.34).

### Implemenation
GET /package-scopes

The result should contain an id and a name.

#### Estimated Workload:
#### Actual Workload:

[2020-05-26 15:45] dirk-ecker opened #246 "View Identifier: Get available namespaces"
### Description
We need a list of all available namespace for creating an identifier in a pop up dialog.
(https://github.com/openlibraryenvironment/gokb-ui/issues/4)

### Implemenation
GET /identifier-namespaces

#### Estimated Workload:
#### Actual Workload:

[2020-05-26 15:52] hornmo commented on #228
Fixed in 8.6.4.

[2020-05-26 15:52] #228 closed, assigned to hornmo

[2020-05-26 16:00] hornmo commented on #221
Fixed in 8.6.1

[2020-05-26 16:00] #221 closed, assigned to hornmo

[2020-05-26 16:05] hornmo commented on #197
Fixed in 8.5.3

[2020-05-26 16:05] #197 closed, assigned to hornmo

[2020-05-28 12:39] VolkerHBZ commented on #244
your account "boeselager" is not enabled. This might be the reason, why you cannot log on. The error seems to be the fact that you were logged in to the system through the reset-password-process even though your account is disabled.

I have set the account to enabled - that should enable you to log on again.

[2020-05-28 13:53] philboeselager commented on #244
I'm able to log in again. Thanks for solving. Closing.

[2020-05-28 13:53] #244 closed, assigned to hornmo

[2020-05-29 16:06] hornmo commented on #193
PR #251 introduced `/identifier-namespaces` for searching for namespaces like "isbn".
In addition, existing identifier objects may be looked up (for conflict detection) via  `/identifiers?value=<id_value>&namespace=<ns_value|ns_id>`.

[2020-05-29 16:15] hornmo commented on #143
Currently the parameter `name` does a lookup for whole words only, whereas `suggest` does a truncated search.

[2020-05-29 16:26] hornmo commented on #246
Added in #251

[2020-05-29 16:28] hornmo commented on #183
Added in #250
Endpoint: `/titles/<id>/delete`
Response: 200

[2020-05-29 16:47] hornmo commented on #146
Added in #250
Endpoint: POST `/titles?type=<journal|book|database>`

Separate endpoints (`/journals`, `/books`, `/databases`) for different types added in ae4b6ca01743f45fd77d636cdf4237d6915c5d8b

[2020-05-29 16:50] hornmo commented on #152
Added in #250
Endpoint: `/titles?` (use parameter `type=<journal|book|database>` for filtering by type)
The primary label property is `name`.

[2020-05-29 16:54] hornmo commented on #156
Added in #250
Endpoint(s): `/titles/<id>/history` or `/titles/<id>?_include=history` or `/titles/<id>?_embed=history`

[2020-05-29 16:55] hornmo commented on #189
Added in #251

[2020-05-29 16:58] hornmo commented on #184
Added in #250
Endpoint: `/titles/<id>/retire`

[2020-06-03 10:27] VolkerHBZ commented on #130
da fehlt das umgebende data:{...} Element im JSON. Die Daten kommen nicht im Controller an und darum wird ein leerer User angelegt und zurückgegeben.

[2020-06-03 11:18] VolkerHBZ commented on #127
implemented as:
GET /rest/orgs
returns a paginated list of the available organisations

[2020-06-03 11:19] #150 closed, assigned to VolkerHBZ

[2020-06-03 12:05] VolkerHBZ commented on #219
/rest/orgs/598 returns the organisation with id=598

[2020-06-03 12:40] VolkerHBZ commented on #243
is this any different from #128 ?

[2020-06-03 13:16] dirk-ecker opened #253 "View User: Update password"
Updating a user with a new password value results to an error:

baddata: "fdfgdsfgf"
message: "property password is immutable!"

but we need this
![image](https://user-images.githubusercontent.com/35012374/83644440-91ac3d00-a5b1-11ea-8b70-8f32fbfe4617.png)

[2020-06-03 13:49] dirk-ecker opened #254 "General about POST/PATCH/PUT"
I've requested - badly - to wrap the data for POST, PATCH or PUT in an additional object like this:

[code]

but that is not needed, because we will never have other fields outside this data entry and by the way the other REST protocols hanging around don't do also. So we could change to plain objects in these circumstances. Opinions?

[2020-06-03 13:57] dirk-ecker opened #255 "General about REST Services"
At this time every REST request gives a 200 - most of the time - when sometimes there has been an error and it should return a status <> 200. Maybe we could follow this suggestions:

"Use HTTP Response Codes to Indicate Status" in
https://www.restapitutorial.com/lessons/restquicktips.html

also here at the end: https://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api#restful

[2020-06-04 06:58] dirk-ecker commented on #243
seems not, I will close it

[2020-06-04 06:58] #243 closed, assigned to nobody

[2020-06-04 07:07] dirk-ecker commented on #127
Could we move to /rest/organisations as requested? Using abbreviations is uncommon and not homogenous.

[2020-06-04 08:14] VolkerHBZ commented on #254
i have no preference for one or the other. Just to keep it uniform troughout the application. Therefore, putting the data in a box named data on the way in and out the rest engine seems to be a reasonable solution with minimal effort.

[2020-06-04 08:22] VolkerHBZ commented on #253
with the latest fix deployed, the password moved from 'immutable' to 'adminRequired' and can be changed by a admin role user via
`PUT|PATCH /rest/users/{id}
{data: {displayName     : "DisplayName",
                           password        : "secr3t",
                           email           : "nobody@localhost",
                           curatoryGroupIds: [cg.id],
                           e

[2020-06-04 09:20] dirk-ecker commented on #253
Yes it is better now. The service /rest/users throws no error and the password can be changed by an administrator, but when I login in with this user here test and same password, it gets an 403 requesting the profile. Another user test1 gets an 200, but is not allowed to change his own profile.

PATCH profile with wrong parameters gives 500 instead of a valid error and also with valid parameters.

[2020-06-04 09:46] dirk-ecker commented on #255
Also it would be a good idea to inform the user of the API in detail about the problems or what he has done wrong. This can be very helpful for both sides of the API finding the error and solve the problems. Those details can be shorten in production code, means no stack trace and the like.

[2020-06-04 09:48] dirk-ecker commented on #254
I have a preference to remove the indirection because it gives no additional benefit and does not fit into the other REST APIs.

So I suggest to remove it - less to type, check, code ....

[2020-06-05 10:36] VolkerHBZ commented on #254
My personal preference would be to find the semantics of data reflected in their textual representation. Since those few additional letters are too much of a burden to type, check and code, especially for all the other APIs, we agree on leaving them out.

[2020-06-08 08:14] croqueGrec09 commented on #238
The function works as bespoken and expected. Issue is closed!

[2020-06-08 08:14] #238 closed, assigned to hornmo

[2020-06-08 08:14] croqueGrec09 commented on #236
Touching tested on test instance in three manners, each with expected behavior. Issue is closed successfully!

[2020-06-08 08:14] #236 closed, assigned to hornmo, VolkerHBZ

[2020-06-08 12:29] croqueGrec09 commented on #227
There is a platform endpoint, it would be necessary to update the OAI endpoint listing (/gokb/oai) and documentation to all currently available endpoints

[2020-06-10 06:57] dirk-ecker opened #258 "Response of successful POST/PATCH/PUT"
The response of a successful POST, PATCH or PUT should not contain result and message, its redundant because the status 200 says everything.

[2020-06-10 07:04] dirk-ecker opened #259 "Add meaningful response for 500er"
Actual the response of a 500er contains useless data:

code: 500
message: "Server Error"

The meaning of a 500 is a problem in the server code. Those problems hopefully never get into production. I think for development it would be a good idea to enrich those responses with a stacktrace and more details about what has happend so most of the time you have not to search in the logs or elsewhere.

[2020-06-10 08:17] VolkerHBZ commented on #258
the successful POST returns a 201 response status and the newly created object as data, according to the best practices. Beside that, the guide suggests to return the new (or changed) entity so the client does not need to GET it again, to use the new data.
https://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api#restful

[2020-06-10 09:31] dirk-ecker commented on #258
Yes but also result and message is delivered:

message: "User profile sucessfully created."
result: "OK"

[2020-06-10 11:54] VolkerHBZ commented on #258
these fields are deprecated and subject to deletion, as we need no other result status field than the response status and the message is otherwise exclusively used in errors.

[2020-06-10 12:09] dirk-ecker commented on #258
wonderful

[2020-06-16 13:38] VolkerHBZ commented on #199
creating an identifier is implemented as follows
[code]
Namespaces can be obtained via
[code]

[2020-06-16 14:28] hornmo commented on #219
Example on phaeton-dev:

https://phaeton-dev.hbz-nrw.de/gokb/rest/packages?ids=ZDB-47-CBA

Returns one package for an Identifier with namespace "isil".

[2020-06-17 07:10] dirk-ecker opened #261 "user test3 is not allowed to change property curatoryGroupIds of user test3"
PATCH /rest/profile
{email: "abc@ded.de", new_password: "t", curatoryGroupIds: [752573]}

throws 400

also the old password is not given and therefore it should regret the change of it.

[2020-06-17 07:21] dirk-ecker opened #262 "please describe interface for reporting errors"
In #261 I described an error occurred during profile update. The response was this error object:

errors: Array(1)
0:
user:
baddata: "curatoryGroupIds"
code: null
message: "user test3 is not allowed to change property curatoryGroupIds of user test3"

It seems that a response can answer with several errors found. It starts with user, should be profile?

A short description of the error response wou

[2020-06-17 07:41] VolkerHBZ commented on #262
the error map is supposed to follow the rules outlined by Moritz:
[code]
the top-level array is somehow introduced by mistake - I'll change that.

Since there are no errorCodes for localized messages defined yet, this field is left blank.

[2020-06-17 07:59] VolkerHBZ commented on #261
the request is semantically wrong, rejected with a 400 response code and therefore the data stays unchanged.
Although I was hoping for the client to prevent requests from missing fields.

[2020-06-17 08:17] dirk-ecker opened #263 "static interface for reporting errors"
The interface of the error response depends on the error type or the number of errors or ...?

I got a response where errors is an array of object and on the other hand I got a response where errors is an object.

It should always be the same interface. If only one error has occurred we should also return an array of errors. Its bad practice to "optimize" this way, because it makes the handling mo

[2020-06-17 09:09] VolkerHBZ commented on #263
as mentioned in https://github.com/openlibraryenvironment/gokb/issues/262, the array of errors is a bug: errors is a map of property names to error objects. Along with the implementation in other parts of the GOKb, an error object consists of a message and some baddata. To localize the message, an additional code is delivered to look up an appropriate text.

[2020-06-17 09:17] dirk-ecker opened #264 "View Dashboard: Type of review is missing"
In the result of GET /rest/reviews the type is missing.
I also need the possibility to request only open reviews (status.name = 'Open').

[2020-06-17 09:37] dirk-ecker commented on #261
It depends on the user. User test3 has not the needed privileges, I think.

[2020-06-17 09:42] dirk-ecker opened #265 "View Create Package: Details for title"
So far I have a pop up dialog to enter all fields of a title. What is missing, is the actual mapping to the rest service for creating a title. Please list all fields that corresponds to page 39 of the functional  specification.

[2020-06-17 12:35] VolkerHBZ commented on #265
POST /rest/titles/?type=<journal|serial|book|monograph|database>
[code]
other parameters (titleURL, accessFrom, accessTo, coverage and embargo) belong to the TIPP which links the TitleInstance with a specific package and specific platform.

Probably, this dialog should fire several requests to create TitleInstance and TIPP separately.

[2020-06-17 14:13] dirk-ecker opened #266 "View Add Title: Dialog variants?"
Adding a title by hand can be done for a book, a database, a journal, a monograph and a series.
All of these different title types actual gets the same ui fields, but that can not be correct. So we need further specification what is needed in the type context,  see page 39.

[2020-06-17 15:03] VolkerHBZ commented on #266
journal and serial are just different names for the same type - JournalInstance, book and monogaph too: BookInstance, database points to a DatabaseInstance. They all are subclasses of TitleInstance.
The UI fields you are referring to (Ausgaben, Bände) are actually properties of the TIPPCoverageStatement, not the TitleInstance itself. The dialog mixes up data from the TitleInstance and its three-wa

[2020-06-17 16:19] hornmo commented on #265
This process is sadly a bit more complicated then just POSTing a single new title entity. The ultimate goal here is creating a new TIPP, which would look like this:

[code]
Since a TIPP is used to link three existing components (`title`, `pkg` and `hostPlatform`), we need those IDs to create the TIPP itself. The title has to be looked up & selected via its Identifiers or somehow created before the

[2020-06-17 16:51] #119 closed, assigned to nobody

[2020-06-17 16:51] #254 closed, assigned to hornmo, VolkerHBZ

[2020-06-17 16:52] #118 closed, assigned to nobody

[2020-06-17 16:52] #258 closed, assigned to hornmo, VolkerHBZ

[2020-06-17 16:53] #170 closed, assigned to nobody

[2020-06-17 16:53] #152 closed, assigned to VolkerHBZ

[2020-06-17 16:54] #190 closed, assigned to nobody

[2020-06-17 16:54] #124 closed, assigned to VolkerHBZ

[2020-06-17 16:54] #237 closed, assigned to hornmo, VolkerHBZ

[2020-06-17 16:54] #131 closed, assigned to VolkerHBZ

[2020-06-17 16:55] #185 closed, assigned to dirk-ecker

[2020-06-17 16:55] #198 closed, assigned to VolkerHBZ

[2020-06-17 16:55] #129 closed, assigned to VolkerHBZ

[2020-06-17 16:55] #193 closed, assigned to VolkerHBZ

[2020-06-17 16:56] #157 closed, assigned to VolkerHBZ

[2020-06-17 16:56] #130 closed, assigned to VolkerHBZ

[2020-06-17 16:56] #128 closed, assigned to VolkerHBZ

[2020-06-17 16:56] #160 closed, assigned to hornmo, VolkerHBZ

[2020-06-17 16:56] #161 closed, assigned to VolkerHBZ

[2020-06-17 16:57] #158 closed, assigned to hornmo, VolkerHBZ

[2020-06-17 16:57] #151 closed, assigned to VolkerHBZ

[2020-06-17 16:57] #246 closed, assigned to hornmo, VolkerHBZ

[2020-06-17 16:58] #165 closed, assigned to dirk-ecker

[2020-06-17 16:58] #167 closed, assigned to hornmo, VolkerHBZ

[2020-06-17 16:58] #123 closed, assigned to VolkerHBZ

[2020-06-17 16:58] #122 closed, assigned to VolkerHBZ

[2020-06-17 16:58] #121 closed, assigned to VolkerHBZ

[2020-06-18 06:13] dirk-ecker commented on #265
What is the functional name for such an entity title instance or title copy? TIPP is almost the worst idea because it is technical from the ground up and so not a good choice.

[2020-06-18 06:24] dirk-ecker commented on #265
The concept of this topic seems a little bit abstruse. It should be more like create a package and afterwards assign all titles to this package. Also should it be possible to import titles without packages, as it was suggested by the authors of the concept.

[2020-06-18 07:53] VolkerHBZ commented on #265
Probably, there is no simple way of representing a complex structure such as the relation between, packages, providers, platforms and titles.

What's our conclusion on this (quite essential) topic?

[2020-06-23 12:19] dirk-ecker commented on #189
Hi, I need some hints about the possible search parameters.
Thanks in advance.

[2020-06-23 12:36] VolkerHBZ commented on #265
In deviation from the concept, we agreed to create provider and platform before creating packages and titles. When creating a package, the provider and platform have to be picked from the list because they cannot be created within that same workflow.

[2020-06-24 06:53] dirk-ecker commented on #266
The question is which input fields are relevant for what. We need different gui prototypes.

[2020-06-24 07:05] dirk-ecker commented on #183
Please use the normal REST Verb delete for this no extra service endpoint.

DELETE /rest/titles/<id>

[2020-06-24 08:04] hornmo commented on #183
Fixed in 8.7.0

[2020-06-25 13:19] MiriKon opened #268 "Titel-Diskrepanz bei OECD iLibrary"
Ich habe via Ygor (https://gokb.org/ygor) die 2019er KBART der OECD iLibrary in die GOKb (org) gespielt (ohne Anreicherung in der ZDB oder EZB) - allerdings sind im Package zu wenig Titel mit "rüber" gekommen https://gokb.org/gokb/resource/show/org.gokb.cred.Package%3A1080754 . Das Package war vorher leer gewesen, allerdings kann ich mich erinnern, dass ich vor dem Zusammenlegen der GOKb-Instanzen

[2020-06-25 13:45] croqueGrec09 opened #269 "incorrect output of non-latin characters"
The following KBART file contains a record with a cyrillic title. Even after having corrected the record to the name to Письмо, what Ygor processes correctly, it is incorrectly transmitted to GOKb and incorrectly stored. It should thus be necessary to check whether all the interserver connections and all the database connections are consequently UTF-8.
Occurred on GOKb 8.6.0 with Ygor v0.92.

[hbz

[2020-06-25 14:04] MiriKon opened #270 "Neue GOKb Felder für Titel bzw. TIPPs"
Durch unsere Pick-and-Choose Modelle mit den eRef Lehrbüchern von Thieme sowie den utb Studi-Ebooks ist bei uns der Bedarf nach zwei neuen Feldern in der GOKb aufgekommen:

1. Reihe
2. Listpreis
3. Fachbereich

Eine KBART-Datei hänge ich als Beispiel an (Feld für Fachbereich ist hier nicht aufgeführt bei der Thieme Datei). Die Inhalte der Felder "Reihe" und "Fachbereich" sollten als Freitext vom A

[2020-06-26 10:08] hornmo commented on #269
This seems to be an issue with [Ygor](https://github.com/hbz/laser-ygor/), since I was not able to reproduce this issue when sending the title to GOKb directly via the Crossreferencing API.

[2020-06-26 10:12] croqueGrec09 commented on #269
@philboeselager @hornmo Can it be a communication issue between the servers?

[2020-06-26 11:39] hornmo commented on #269
@croqueGrec09 I don't think so. The Problem seems to be present in the exported JSON from YGOR already.

[2020-06-26 11:46] croqueGrec09 commented on #269
I did the test again with a manually corrected (this is important to stress) KBART file which is going to be included here. Ygor version 0.92. The titles JSON is correct as is the output in Ygor.
[hbz.ava.watch_26 May 2020_kbart.txt](https://github.com/openlibraryenvironment/gokb/files/4836686/hbz.ava.watch_26.May.2020_kbart.txt)

[2020-06-29 13:42] VolkerHBZ commented on #127
speaking of homogenous: in the current application, the Organizations are mapped to domain object class Org. I think, we should stick with that scheme.

[2020-06-29 15:27] dirk-ecker commented on #127
homogenous has something to do with equable build or consistent and means consistent on the same level. So at this point you can compare org to provider, user, ... and not to an entity on another layer - in this case the model layer. The 8 bit area is long over, where we try to shorten everything, nowadays the rule is to help the reader understanding the code and the like not to disinform him or h

[2020-06-29 15:46] hornmo commented on #127
I don't see a big problem changing the endpoint, though we should probably stick with `organizations`  since that spelling is a bit more agnostic concerning usage in different regions (US vs GB). The short form was used in the first place to mitigate those spelling issues, but the resulting term is not really speaking for itself.

[2020-06-30 05:22] croqueGrec09 opened #273 "Title mismatch Apollo"
Given the TitleInstance https://gokb.org/gokb/resource/show/org.gokb.cred.BookInstance%3A6241061#titledetails.
In fact, it should be two title instances given the same name because it occurs in https://gokb.org/gokb/resource/show/org.gokb.cred.Package%3A11751449 and in https://gokb.org/gokb/resource/show/org.gokb.cred.Package%3A6243109. In former, it is a film title and in latter, it is an eBook.

[2020-06-30 07:10] dirk-ecker commented on #265
Title knows publishedFrom and publishedTo, the concept describes a publishedAt but shows a publishing intervall? What is correct?

The concept does not contain a publisher, the title object does. What publisher should be used, the one of the package? Does this make sense?

[2020-06-30 08:30] hornmo commented on #273
No. Items from KBART can only be separated via their `publication_type`, namely `serial` or `monograph`. Those values directly correlate with a specific Item type in the GOKb (BookInstance/JournalInstance). The value of `medium` can then be used to further differentiate the titles, but will not be used for matching of future imports. So unless the titles contain differing global identifiers (so bo

[2020-06-30 08:33] croqueGrec09 commented on #273
The matter of this ticket is that two independent records are reflected into one.

[2020-06-30 08:38] hornmo commented on #273
This is because only one of the titles has any reliable identifiers, and both are classified as a BookInstance. Titles without proper identifiers cannot be matched properly, and are therefore prone to cause such errors. The safest solution would be to refuse any titles without proper (globally recognized) identifiers, but that would have to be discussed further.

[2020-06-30 08:40] croqueGrec09 commented on #273
Alright, should thus become subject of discussion.

[2020-06-30 10:47] croqueGrec09 commented on #269
After title cleanup / deletion of faulty title and reupload, the title was rendered correctly. Closed.

[2020-06-30 10:47] #269 closed, assigned to hornmo, VolkerHBZ

[2020-06-30 11:42] VolkerHBZ commented on #194
Since providers are organizations, this issue is handled by the /rest/orgs endpoint.
`GET /rest/orgs?name=can`

[2020-06-30 12:31] dirk-ecker commented on #194
Why are providers organizations? Is there no difference? Why do we have different namings for the same thing?

[2020-06-30 12:50] hornmo commented on #194
The term `organizations` (or more specifically `Orgs`) is the object class used in the back-end to generalize the objects which are used for example as `publisher` for titles or `provider` for packages. To enable abstraction from this layer, besides the generic endpoint `/orgs` the API also offers `/provider` and `/publisher`, which are all mapped to the same controller function.

[2020-06-30 13:04] hornmo commented on #268
Auf den ersten Blick sieht das für mich nicht unbdingt nach einem Bug aus, sondern nach einer Datamanager-Aufgabe zur nachträglichen Bereinigung. Das Paket hat 18 offene Review Requests, die vermutlich einen Aufschluss über die Fehler geben:
https://gokb.org/gokb/resource/show/org.gokb.cred.Package%3A1080754#review -> Load Open Requests

Einige Titel wurden dort vermutlich auf Grund von uneindeuti

[2020-06-30 13:24] VolkerHBZ commented on #270
These new properties have to be processed in Ygor too to appear in GOKb.

[2020-06-30 15:26] philboeselager commented on #270
Die Verarbeitung der Felder kann Ygor-seitig implementiert werden.

@MiriKon :

- Welche KBart-Spaltennamen sind für die Felder vorgesehen? (Bezüglich Listpreis gibt es ja bereits die optionalen Feldnamen `listprice_eur`, `listprice_gbp` und `listprice_usd`.)
- Die Informationen _Listenpreis_ und _Fachbereich_ sind nach meinem Verständnis TIPP-unabhängig und sollten dementsprechend technisch an di

[2020-07-01 08:19] VolkerHBZ commented on #270
In der GOKb gibt es den Datentyp ComponentPrice, der currency und price enthält und egalwo angehängt werden kann - also im Titel oder im TIPP. Nach Auskunft von Andreas kennt LAS:eR zwei Preise: einen Listenpreis und einen vehandelten Preis. Das Ziel dieses Tickets ist ja, dass LAS:eR seine Daten für die Pick&Choose Geschichten aus der GOKb zieht. Allerdings sind die Preise bei LAS:eR tatsächlich

[2020-07-01 08:23] croqueGrec09 commented on #270
@philboeselager @VolkerHBZ Die Preise können sich in der Tat pro Paket unterscheiden. Da gibt es einleuchtende Gründe, die ich jedoch mangels Expertise nicht wiedergeben kann. Ich würde also @MiriKon hierzu um Stellungnahme bitten; ich würde aber tatsächlich sehr stark für die Verdrahtung am TIPP plädieren, da der Preis keineswegs am Titel allein hängt.

[2020-07-01 08:32] MiriKon commented on #270
Kurzes Update: ich habe mir die Thematik auch nochmal anhand unseres Pick-and-Choose Durchlaufs angeschaut und das Ticket deshalb nochmals aktualisiert. Die 3 neuen Felder würden sich dann alle auf den Titel beziehen, da der Listpreis für den einzelnen Titel Paket-unabhängig ist. Ich hatte auch einmal den Link ins Wiki kopiert, wo die relevanten KBART-Felder für GOKb/LAS:eR festgehalten werden.

L

[2020-07-01 08:34] VolkerHBZ commented on #270
... wenn es abweichende Preise im Paket geben sollte, dann können die ja immernoch (als verhandelter Preis) in den TIPP reingefriemelt werden.

[2020-07-01 09:16] philboeselager commented on #270
@croqueGrec09 Hier geht es ja nur um Listenpreise, nicht um Preise allgemein. Die Behandlung von Preisen wäre ein ganz anderes Issue. (Verhandelte Preise sind natürlich auch nur dann in die GOKb aufzunehmen, wenn sie nicht Gegenstand einer Geheimhaltung sind. Wie oft das wiederum der Fall ist, weiß ich nicht.)

[2020-07-01 10:57] VolkerHBZ commented on #194
sorry, my bad. I didn't realize you defined those endpoints as well.

[2020-07-01 11:01] VolkerHBZ commented on #270
hihi... idealerweise sind alle verhandelten Preise geheim und damit dann nicht mehr das Problem der GOKb.

[2020-07-02 10:22] VolkerHBZ commented on #270
leider erkenne ich in https://dienst-wiki.hbz-nrw.de/display/KOE/KBART nur wenig, was den Nebel etwas lichtet:
am aufschlussreichsten ist wohl das kbart_template, was die Namen der Kbart-Tabellenspalten vorschreibt. Dort gibt es die relativ eindeutigen Felder `listprice_eur | listprice_usd | listprice_gbp`, die offenbar Listenpreise in drei verschiedenen Währungen darstellen sollen (also kann ein

[2020-07-02 10:26] croqueGrec09 commented on #270
Die relativ eindeutigen Felder schließen sich gegenseitig aus. So zumindest ist es bei LAS:eR, nämlich dass nur *einer* der drei Felder listprice_eur | listprice_usd | listprice_gbp *oder* die Kombination listprice_currency und listprice_value belegt sein darf. LAS:eR lehnt eine uneindeutige Zuweisung ab.

[2020-07-02 11:28] VolkerHBZ commented on #270
Es gibt noch weitere Spezifizierungen, unten auf der Seite, die allerdings nicht konsistent sind, mit dem, was in den Beispieldateien steht.
- `listprice_value`, `listprice_currency` sind noch relativ eindeutig
- `price_date` ist zum Glück nicht verpflichtend, sonst müssten irgendwie tagesaktuell neue Preise eingepflegt werden. Hier erscheint es mir sinnvoll, anzunehmen, dass das Datum den ersten

[2020-07-02 11:30] croqueGrec09 commented on #270
Die localprice-Spalten sind nur für LAS:eR relevant. Zur Aufnahme lokal verhandelter Preise ist die Komponente Lizenz unverzichtbar, welche in der GOKb naturgemäß nicht vorhanden ist. (EDIT: und auch nicht vorhanden sein soll) Die Spalten sind deshalb im Template enthalten, da dieses als Vorlage zur Umsetzung einer LAS:eR-Komponente gedacht ist.

[2020-07-02 12:49] philboeselager commented on #270
@croqueGrec09 Wir sollten hier nicht ausschließlich vom Daten-Konsumenten LAS:eR her denken und argumentieren. Denkansatz muss sein, wie die GOKb als Globale, Offene Knowledge Base Daten möglichst universell, flexibel und korrekt abbilden kann. Es gibt ja bereits Stand Jetzt einen weiteren Kosnumenten (FOLIO) und die GOKb muss so konzipiert sein, dass sie in der Lage ist, neben diesen beiden weite

[2020-07-02 12:55] croqueGrec09 commented on #270
@philboeselager Die "Argumentation" (ich wollte ja gerade gegen die Verwendung von localprice in der GOKb plädieren!) kommt in diesem Falle hiervon - Zitat oben:

Zum Hintergrund: bisher brauchten wir bei den beiden Pick-and-Choose Abläufen mit Thieme und utb diese Angaben in LAS:eR (wobei die Angaben auch unabhängig von diesen Abläufen wichtige generelle Informationen sind) und hatten daher einen

[2020-07-02 13:55] MiriKon opened #277 "Medientyp "Sonstiges/Various""
Um neben den bisherigen Publication Types "monograph" und "serial" noch Medientypen in die GOKb einspielen zu können, die keiner dieser Kategorien zugeordnet werden können (Branchenreports, Film- und Musiktitel etc.), sollte im Feld publication_type noch die Kategorie "various" hinzugefügt werden und dieser Typ in der GOKb integriert werden wie auch von Ygor beim Einspielen der KBART-Datei akzepti

[2020-07-02 14:04] VolkerHBZ commented on #270
Den local_price habe ich schon aus meinem Kommentar herausgenommen gehabt. Wirklich unklar in diesem Ticket ist aktuell nur noch der Fachbereich, den ich mit Subject Group nur unvollkommen übersetzt finde. Ich würde Subject Area vorschlagen, was immernoch nicht klärt, wie der gesetzt werden soll. Findet die Zuordnung zu einem Fachbereich tatsächlich durch den Anbieter statt oder eher durch die Bib

[2020-07-02 14:10] MiriKon opened #278 "Anlegen Namespace"
Beim Anlegen eines Namespaces für einen Anbieter wird in der GOKb momentan außer dem Namen immer noch das Feld "Category" mit dem Wert "ttl_prv" vergeben - hier die Frage welchen Zweck das Feld erfüllt und ob man auf diesen Eintrag nicht verzichten könnte, da eigentlich nur der Namespace Name wichtig wäre? Bzw. könnte das Eintragen des Namespaces nicht auch direkt beim Anlegen einer Organization a

[2020-07-02 14:26] MiriKon opened #279 "Konzept für Nutzerregistrierung in der GOKb"
Die komplette Nutzerregistrierung in der GOKb sollte einmal vor allem auch in Hinblick auf die DSGVO neu konzeptioniert werden. Das Ticket schon einmal als Anstoß, dass wir das auf dem Schirm und als To-Do haben.

[2020-07-02 14:47] VolkerHBZ commented on #278
dazu kann ich nichts sagen, das wurde entschieden, bevor ich in das Projekt gekommen bin

[2020-07-02 14:51] VolkerHBZ commented on #279
Da du dich offenbar bereits mit den Anforderungen der DSGVO auseinandergesetzt hast, kannst du sicher auch ein paar Anstöße geben, wo die GOKb mit der DSGVO kollidiert. Nach meiner Kenntnis sowohl der DSGVO wie auch der GOKb bestehen keine offensichtlichen Widersprüche, was gut ist, weil andernfalls der Betrieb der GOKb seit dem 25. Mai 2018 illegal wäre.

[2020-07-03 07:20] dirk-ecker commented on #266
Further investigation into the old ui shows more input fields than the actual concepts offers. But it shows also the differences between the known title types. I have created a [word document ](https://fz-juelich.sciebo.de/s/UfMm1keNVPhGPsI) that shows the results and can be used to discuss this topic in detail.

[2020-07-03 07:48] VolkerHBZ commented on #266
Is there a way to add remarks and comments to that document? Maybe a DAV-link to edit it offsite?

[2020-07-03 08:23] dirk-ecker commented on #162
Actual has errors and is not complete.

[2020-07-03 08:43] VolkerHBZ commented on #266
Unfortunately, it's impossible to add comments to that document.

[2020-07-03 09:10] MiriKon opened #280 ""Technischer Support" für Organization"
Gerade im Rahmen der Anbieter-gesteuerten Pflege in der GOKb ist es wichtig, dass es hier ein extra Feld gibt, wo der Anbieter auch die Mail-Adresse des Technischen Supports angeben kann - diese Information sollte dann wiederum auch künftig in LAS:eR angezeigt werden. GOKb-seitig habe ich hier einmal einen Screenshot gebastelt:
![Organization_TechnischerSupport](https://user-images.githubuserconte

[2020-07-03 10:17] VolkerHBZ commented on #280
![Bildschirmfoto vom 2020-07-03 12-22-36](https://user-images.githubusercontent.com/48286407/86460082-119c0300-bd28-11ea-8c06-cb437408247d.png)
das sieht mir nach einem klassischen Anwendungsfall für ein Custom Field aus. Die Datenstrukturen in der GOKb sind bewußt dynamisch gehalten, damit nicht für jede winzige Änderung ein neues Binary erforderlich wird.

[2020-07-03 10:30] VolkerHBZ commented on #162
what errors?

[2020-07-03 10:40] dirk-ecker commented on #266
Simply download and edit.

[2020-07-03 10:42] dirk-ecker commented on #127
Good idea.

[2020-07-03 11:18] VolkerHBZ commented on #266
Instead of typing around in a copy, I'd rather want to edit the real thing so you can read and react to the comments, as this is key to a discussion, don't you think?

[2020-07-03 11:31] dirk-ecker opened #282 "View Edit User: Add organisation"
Regarding page 71 of the functional concept we need a organisation field in the user entity.

[2020-07-03 11:56] dirk-ecker commented on #266
This is sciebo and I think you have no account, so we must/should share it via email or deploy it elsewhere. Try this

https://drive.google.com/file/d/141zfnaUogl8OYM1Y_59eFS83nezYBfUv/view?usp=sharing

[2020-07-03 12:07] dirk-ecker opened #284 "View Titel: Embargo"
The field embargo of a title contains several details in one field: type, unit and duration. That is usually a bad practice because it adds complexity into development where it is not needed and we have no reason to save some bytes nowadays. So I suggest to split this field into three fields.

[2020-07-03 12:46] VolkerHBZ commented on #284
this implementation follows the KBART standard (see [KBART_Phase_2_Dokumentation.pdf](https://github.com/openlibraryenvironment/gokb/files/4869762/KBART_Phase_2_Dokumentation.pdf) section 6.6.14) as well as the expectations from LAS:eR which uses exactly the same format. Changing the implementation only exagerrates complexity without adding any value.

[2020-07-03 12:56] VolkerHBZ commented on #266
Same problem: without an account, no editing.

But: as employee of HBZ, I can setup a sciebo-account on my own... hope this will enable me to work on that document... fingers crossed.

The document seems to be read-only. Probably a rather suboptimal way of starting a discussion - except you are Recep Tayyip Erdoğan, which you're not.

[2020-07-03 14:05] hornmo commented on #278
Wir benutzen die Kategorie, um in Ygor eine Auswahlliste mit zugelassenen Werten für den proprietären Identifikator (title_id) zu generieren. Dort soll natürlich explizit z.B. keine ISIL ausgewählt werden können, da diese keine Titel identifiziert. Der Wert "ttl_prv" ist meiner Meinung nach unglücklich, wurde aber damals als Anforderung von LAS:eR gewählt.

Die direkte Verknüpfung (am besten 1:1)

[2020-07-03 14:11] hornmo commented on #277
Die GOKb verarbeitet bereits den Wert "Other" für generische Titeldatensätze. Falls es keine starke Präferenz für "various" gibt, wäre dieser zu bervorzugen.

[2020-07-03 16:50] dirk-ecker commented on #284
code duplication by design

[2020-07-06 06:54] dirk-ecker opened #285 "View Edit User: No 200 for errors"
Actually patching a user with an organisation id result into an error response but in the context of status = 200.
It should be a status <> 2xx.

[2020-07-06 07:12] dirk-ecker opened #286 "View Add Title: Coverages service missing"
For filling the select box in the Add Title dialog I need a service to get all coverages values. The wiki describes these:
 * Abstracts
 * Fulltext
 * Selected Articles

[2020-07-06 14:28] philboeselager commented on #273
Given the fact that countless examples of matching books & films titles exist, we need to make this work.

@hornmo : What is the minimum criteria to make two titles distinguishable in this case?

My assumption: if there is a duplicate title, check the medium type.

- If the medium types are different, check identifiers.
  - If identifiers are different: OK --> create both items independently
  - I

[2020-07-06 14:57] philboeselager commented on #280
@croqueGrec09 Ließe sich das Feld bei der von Volker beschriebenen dynamischen Befüllung für LAS:eR sinnvoll (parametrisiert) auslesen?

[2020-07-06 14:58] philboeselager commented on #282
@dirk-ecker Is there any need for further discussion? If not, feel free to implement as you've written. (my guess)

[2020-07-06 15:01] philboeselager commented on #284
@dirk-ecker : As we've discussed today, you have already implemented the UI. Does this issue need something on the backend side? Otherwise, please close this issue.

[2020-07-06 15:29] hornmo commented on #273
Yes, that sounds correct. I was going to completely ignore other types of titles in the identifier lookup, but creating a review request could probably be helpful for such cases.

[2020-07-07 05:23] dirk-ecker commented on #282
I can`t find the field in the response and a PATCH gives me an error, so somebody at the database and REST level has to implement it.

[2020-07-07 05:25] dirk-ecker commented on #284
You could use it to further improve the database. ;-)
but it is no problem for me to close it.

[2020-07-07 05:25] #284 closed, assigned to hornmo, VolkerHBZ

[2020-07-07 06:47] dirk-ecker opened #287 "View Provider: Selection of curatory group not supported?"
Selecting providers by curatory group does not give other result, so it seems that this query parameter is not supported yet.

[2020-07-07 07:30] VolkerHBZ commented on #282
so far, users are only grouped into roles and curatory groups. apparently, there seems to be a newly discovered necessity for another membership in just another group. The simplest solution could be to define the curatory group with index 0 as the first and main organization of a user. Going this way, the implementation can advance without further waiting.

[2020-07-07 07:31] dirk-ecker opened #288 "View Provider: Selection of identifier should be improved"
At this time I use all possible identifiers to search for the input given by the user, but that makes no sense. It should be only identifiers that belongs to providers, I think.

So we need a way to search for identifiers of a given entity by adding a new parameter for the rest endpoint identifiers - entity as string - or, I think the better alternative, support a method to find identifiers in the

[2020-07-07 08:40] dirk-ecker opened #289 "View Provider: Retire or delete url not working"
The given retire and delete url due to an provider request seems not to be implemented or throws errors.

A POST to rest/orgs/2185774/retire gives an 404 and a DELETE to rest/orgs/2185774 gives an 500er.
Maybe I am doing something wrong.

The links were provided by rest/provider?name=test&_include=id,name&offset=0&limit=10

[2020-07-07 08:42] dirk-ecker commented on #289
For the 500er I got an exception:

xception: {cause: null, localizedMessage: "No such property: pkg for class: org.gokb.rest.OrgController",…}
cause: null
localizedMessage: "No such property: pkg for class: org.gokb.rest.OrgController"
message: "No such property: pkg for class: org.gokb.rest.OrgController"
messageWithoutLocationText: "No such property: pkg for class: org.gokb.rest.OrgController"
m

[2020-07-07 08:50] dirk-ecker commented on #282
A curatory group is not an organisation - in the data model - or am I wrong.
I am not waiting, it is simply not used, when not set.

[2020-07-07 09:08] VolkerHBZ commented on #282
Yes, you're right: a curatory group HAS zero or more orgs, rather than being one.

[2020-07-07 09:29] hornmo commented on #282
There is a currently unused component called UserOrganisation, which may be used to group Users in another way to Curatory Groups. As it stands now, we don't have a clear concept how to use this, therefore user organisations should be omitted from the UI for now.

[2020-07-07 09:50] VolkerHBZ commented on #282
Probably, this is the time to fill that unused property with some sense and define that UserOrganisation fits the need and use it accordingly.

[2020-07-07 10:05] michaselbach commented on #268
Ich habe mir das gerade einmal angeschaut und sehe zwei Probleme bzw Fragen: 1) Die in der Liste "Load open requests" ausgegebenen Informationen bedeuten, dass diese Titel jetzt alle aufgrund der Systemrückmeldung nicht mitgekommen sind? Ein kurzer Blick rein, zeigt ja das es hier scheinbar zuvor eine erste Anreicherung gab mit ZDB Infos, jetzt hatte Miriam aber ja bewusst ohne gesagt - daher darf

[2020-07-09 12:25] #253 closed, assigned to hornmo, VolkerHBZ

[2020-07-09 12:26] #259 closed, assigned to hornmo, VolkerHBZ

[2020-07-09 12:26] #163 closed, assigned to dirk-ecker

[2020-07-09 12:27] #245 closed, assigned to hornmo, VolkerHBZ

[2020-07-09 12:28] #146 closed, assigned to VolkerHBZ

[2020-07-09 12:28] #199 closed, assigned to VolkerHBZ

[2020-07-09 12:31] hornmo commented on #287
Please add the complete request that was used when the error occurred.

[2020-07-10 08:32] dirk-ecker commented on #287
/rest/provider?curatoryGroupId=62898&_include=id,name&offset=0&limit=10

in contrast to

/rest/users?curatoryGroupId=415860&_include=id,username,email&offset=0&limit=10

that is working

[2020-07-10 15:12] hornmo commented on #268
@MiriKon Das Problem bestand letztendlich darin, dass jemand die früher existierenden Titel als ungültig/gelöscht markiert hatte, was die Anzeige in der Paketansicht (`Titles/TIPPs (xxx/xxx)`) durcheinander gebracht hat. Ich schaue mal, wie man das am besten in Zukunft verhindern kann.

@michaselbach
zu 1):

Nein, die Review Request weisen lediglich auf beim Import identifizierte mögliche Konflikt

[2020-07-10 15:45] hornmo commented on #287
I'm afraid `/users` is different from all other endpoints in that regard. In general the request parameters will be the same as the property name returned in the response objects. So it should be

`/rest/provider?curatoryGroups=62898&_include=id,name&offset=0&limit=10`

I will add this format for users as well, so we'll be consistent throughout.

[2020-07-13 06:14] #287 closed, assigned to hornmo, VolkerHBZ

[2020-07-13 06:15] dirk-ecker commented on #287
Okay, using the curatoryGroups it works.

[2020-07-14 08:15] dirk-ecker commented on #189
Searching reviews is still not working, maybe because of unknown parameters that can be used.
I need searching by curatoryGroup, component, allocatedTo, raisedBy, state and name - the expexted do not work.

Also, according to specify the component I need a service to request all possible component types - should I create another ticket for that?

[2020-07-14 10:02] dirk-ecker commented on #183
Deletion of rest/titles/64666 with method DELETE raises a 500:

[code]

[2020-07-14 10:10] dirk-ecker commented on #184
/rest/titles/64666/retire gives me a 403 forbidden

[2020-07-15 09:59] dirk-ecker opened #293 "View Dashboard: Request for actual running KBART Imports"
As specified on p. 51 we need a REST service that returns details about the actual running KBART Imports.

[2020-07-20 13:43] dirk-ecker opened #295 "View Provider: Implementation of POST and PUSH missing?"
Both methods responds with 404, so I think they are not implemented, right?

[2020-07-20 13:46] dirk-ecker opened #296 "View Provider: GET Response not nested in data"
The response of getting a provider is not nested inside a data object analogue to the other services.

[2020-07-27 11:18] croqueGrec09 commented on #280
Man müsste hierzu die Struktur der Custom Fields exakt mit entsprechendem Parameter für den OAI-PMH-Auszug mitliefern. Hierzu wäre es hilfreich, wenn ich tatsächlich immer als Attribut "Technichal Support" (oder irgendeinen anderen festgelegten, instanzunabhängigen Begriff) erwarten könnte.

[2020-07-27 11:59] croqueGrec09 commented on #280
Zur Diskussion hier der Listenendpunkt für Orgs: https://gokb.org/gokb/oai/orgs?verb=ListRecords&metadataPrefix=gokb
Ich bräuchte jetzt irgendwo eine Struktur, dh.h entweder ein Element <customProperties> mit <customProperty type="technicalSupport">, wo sich LAS:eR das entsprechende Datum schnappen könnte.

[2020-07-27 11:59] MiriKon commented on #277
Das es tatsächlich schon einen Wert in der GOKb gibt, war mir gar nicht bewusst. Dann nehmen wir auch "other" - da gibt es keine Präferenz von unserer Seite :-)

[2020-07-27 12:09] philboeselager commented on #280
OK, das klingt doch sinnvoll. Da die Properties der Custom Fields in einem Dropdown organisiert sind, sollte es gut möglich sein, hier immer den gleichen Feld-Identifier zu verwenden. Als Beispiel systemintern: `technicalSupport`.

@MiriKon Ist diese Lösung aus fachlicher Sicht gut? Das heißt: ist die Angabe "prominent" genug? Leider kann nicht immer alles "ganz vorne" stehen, d. h. hier ist wirkl

[2020-07-27 13:10] MiriKon commented on #280
Ok, das wäre dann aus meiner Sicht eine ganz gute Lösung - dann könnte man perspektivisch das Feld "Custom Fields" auch nehmen, um neben dem technischen Support auch weitere relevante Ansprechpartner als fixen "Wert" zu hinterlegen. Dann sollte der Technical Support an der vorgeschlagenen Stelle so implementiert werden.

[2020-07-27 13:21] philboeselager commented on #277
@hornmo Sind damit GOKb-seitig alle Vorkehrungen getroffen? D. h. ich brauche Ygor-seitig nur noch die Angabe `Other` (bzw. `other`) zu ermöglichen, und alles läuft?

[2020-07-27 14:08] philboeselager commented on #270
Heute mit MiriKon besprochen:

- Verwendung der KBart-Felder `listprice_eur`, `listprice_gbp` & `listprice_usd` : OK
- Verwendung der KBart-Felder `parent_publication_title_id` und `preceding_publication_title_id` : OK

@hornmo:

- Die GOKb gibt die Angaben dann als ein Array von Objekten, bestehend aus `listprice_currency` und `listprice_value` aus, richtig? Soll Ygor die Daten im selben Format a

[2020-07-27 14:12] croqueGrec09 commented on #270
Keine Bedenken, einzig muss - für eine eventuelle Übernahme in nehmende Systeme - im Title-OAI-Endpunkt auch das Element <subjectArea> auftauchen.

[2020-07-27 14:21] philboeselager commented on #278
@hornmo : Da eine Unterscheidung zwischen proprietären und anderen Namespaces schon sinnvoll zu sein scheint, ist die Vergabe einer `category` ja prinzipiell richtig. Der Name `ttl_prv` ist freilich "geheimnisvoll"...

- Können wir diesen Wert nachträglich in "proprietary" umbenennen? Wollen wir das tun? (Ich fänd es sinnvoll, bzw. vereinfachend. Bitte erwähne mich kurz in der Antwort, damit ich d

[2020-07-27 14:45] VolkerHBZ commented on #270
@philboeselager aktuell habe ich `gokb/integration/crossReferenceTitle` so erweitert, dass die neuen Daten (series, subjectArea, prices) einfach an den JSON-Record eines Title angehängt werden:

``[
    {
    ...
    "status": "Current",
    "series": "Mystery Cloud",
    "subjectArea": "Fringe",
    "prices": [
      {
        "priceType": "list",
        "currency": "EUR",
        "price": 123.4

[2020-07-27 15:02] philboeselager commented on #270
@VolkerHBZ Danke Dir. Zwei Kleinigkeiten sind mir aufgefallen:

- Semantisch würde ich vorschlagen, `amount` statt `price` zu wählen. (Ein Preis setzt sich ja aus Währung und Betrag zusammen.)
- Bislang wiederholen in der GOKb-API Unterbegriffe nicht den Oberbegriff. Demnach wäre `type` dem `priceType` vorzuziehen. Das ist eine Philosophie-Frage, sollte aber einheitlich gepflegt werden.

Wie wird

[2020-07-27 17:53] hornmo commented on #277
@philboeselager Korrekt, das sollte schon funktionieren.

[2020-07-28 07:40] VolkerHBZ commented on #270
[ChangeLog.txt](https://github.com/openlibraryenvironment/gokb/files/4986766/ChangeLog.txt)
@philboeselager Die Bezeichnung der Datenfelder habe ich mir nicht ausgedacht, die sind als Propertynamen so in der GOKb vorhanden. Wenn die im Import-JSON anders heißen, dann ist das mehr aufwand, weil die Automatismen von Grails nicht benutzt werden können und an jeder Stelle, wo die Automatik benutzt wir

[2020-07-28 13:26] VolkerHBZ commented on #270
ich habe den aktuellen Entwicklungsstand auf dev ausgerollt.
@philboeselager die Feldnamen sind nun type, currency und amount. Start- und End-Date werden automatisch von der GOKb gesetzt (start auf den Tag des Imports, end auf den Tag des Imports eines neuen Preises)
@MiriKon: schau' mal, ob die GUI so okay bist (z.B. https://phaeton-dev.hbz-nrw.de/gokb/resource/show/org.gokb.cred.JournalInstance%

[2020-07-28 13:29] VolkerHBZ commented on #296
est. duration: 1d

[2020-07-28 13:29] VolkerHBZ commented on #295
est. duration: 2d

[2020-07-28 13:30] VolkerHBZ commented on #293
est. duration: 5d

[2020-07-28 13:31] VolkerHBZ commented on #289
is this bug resolved now?

[2020-07-28 13:39] VolkerHBZ commented on #286
that's actually all there is and will be, but we stick with the pattern and'll craft an endpoint delivering these values.
something like:

GET /rest/coverageDepth

{"data": ["Abstracts", "Fulltext", "SelectedArticles"]}
est. duration: 1d

[2020-07-28 13:39] VolkerHBZ commented on #285
est. duration: 1d

[2020-07-28 13:40] VolkerHBZ commented on #282
est. duration: 5d

[2020-07-28 13:41] VolkerHBZ commented on #280
est. duration: 3d

[2020-07-29 06:10] dirk-ecker commented on #286
Pleas name it coverage-depth, thank you.

[2020-07-29 06:10] philboeselager commented on #293
@hornmo Wouldn't we prefer to implement this on the Ygor side?

[2020-07-29 06:20] dirk-ecker commented on #289
Delete is resolved but gives a result not needed - maybe only in development environment.
Retire gives a 404.

[2020-07-29 06:48] philboeselager commented on #273
@hornmo Is this fixed within the two PRs mentioned above? If so, please close this issue.

[2020-07-29 07:12] #277 closed, assigned to hornmo, philboeselager, VolkerHBZ

[2020-07-29 07:13] philboeselager commented on #277
@hornmo Please deploy Ygor on gokb.org.

[2020-07-29 09:15] MiriKon commented on #280
Das Hinterlegen des technischen Supports ist vor allem im Rahmen der angestrebten Automatisierung ziemlich wichtig - deshalb bitte priorisieren.

[2020-07-29 10:15] VolkerHBZ commented on #286
Ok, done

[2020-07-29 12:37] VolkerHBZ commented on #280
real duration: 0d
Ist bereits implementiert.

[2020-07-29 12:55] philboeselager commented on #280
Wunderbar. Die Lösung dieses Issue's ist also, in der Edit-Maske der Organization der Reiter "Custom Fields" auszuwählen, und dort eine Property mit dem Schlüssel "Technical Support" (aus einem Dropdown) und dem gewünschten Kontakt anzulegen.

@VolkerHBZ Ist die Property im OAI PMH Auszug dann ebenfalls unter `"Technical Support"` zu finden? Wenn ja, bitte schließe dieses Issue.

@MiriKon Wenn Du

[2020-07-29 12:56] croqueGrec09 commented on #280
@philboeselager Ja, ist es, vgl. https://phaeton-dev.hbz-nrw.de/gokb/oai/orgs?verb=GetRecord&metadataPrefix=gokb&identifier=org.gokb.cred.Org:42910

[2020-07-29 13:57] VolkerHBZ commented on #280
als Anmerkung: der Auswahlwert "Technical Support" muss vor der Benutzung mittels `Create -> Additional Property Definition` angelegt werden.

[2020-07-30 09:49] philboeselager commented on #270
@VolkerHBZ Die KBart-Spaltennamen `parent_publication_title_id` und `preceding_publication_title_id` zeigen ja an, dass es sich dabei um Identifier handelt, also nicht um Freitext oder einen Titelnamen.

`preceding_publication_title_id` ist nach meinem Verständnis semantisch das gleiche wie `historyEvents.from.identifiers` entsprechend der [API-Dokumentation](https://github.com/openlibraryenvironm

[2020-07-31 07:11] VolkerHBZ commented on #285
the 200 acknowledged the change of the properties that are correct and additionally telling that organisation is an unknown property that coudn't be processed. Changing the implementation so that the request is rejected altogether and giving a 400 return code.

[2020-08-03 07:07] dirk-ecker opened #300 "View Provider: Improve service to search for identifier"
Suggesting an identifier for searching a provider should be improved, so that only identifiers of providers are shown.
Therefore we need a parameter..

[2020-08-03 07:16] dirk-ecker opened #301 "View Provider: Adding curatory group not possible"
PATCH /rest/provider/591

curatoryGroupIds: [752573]
id: 591
ids: [{value: "1234", namespace: {id: 554, name: "doi"}}]
reference: "sdfsdf"
source: 540

sets no curatory group for provider.

[2020-08-03 07:30] dirk-ecker opened #302 "View Provider: Setting reference is not saved."
PATCH /rest/provider/591

curatoryGroupIds: [752573]
id: 591
ids: [{value: "1234", namespace: {id: 554, name: "doi"}}]
reference: "sdfsdf"
source: 540

[2020-08-03 07:32] dirk-ecker opened #303 "View Provider: New identifier is not saved."
PATCH /rest/provider/591

curatoryGroupIds: [752573]
id: 591
ids: [{value: "1234", namespace: {id: 554, name: "doi"}}]
reference: "sdfsdf"
source: 540

[2020-08-03 07:45] dirk-ecker opened #304 "View Users: Added organisation is not saved."
PATCH /rest/users/66870

accountLocked: false
curatoryGroupIds: [62903]
email: "Ciesielczyk@hebis.uni-frankfurt.de"
enabled: true
id: 66870
organisation: 44375
passwordExpired: false
roleIds: []
username: "HebisJC"

returns a 200 but shows error object in the result

errors: [{$field: {message: "unknown", baddata: "organisation", code: null}}]
0: {$field: {message: "unknown", baddata: "organisatio

[2020-08-03 09:01] #285 closed, assigned to hornmo, VolkerHBZ

[2020-08-03 09:12] dirk-ecker opened #305 "View Provider: Remove source not possible."
A patch with source: null does not remove the source, instead gets ignored.

It should null the resource.

[2020-08-03 09:42] dirk-ecker opened #306 "View Provider: Adding identifier not possible."
It seems that adding an identifier is not possible. I use

PATCH /rest/provider/591

curatoryGroupIds: []
id: 591
ids: [{value: "55", namespace: "global"}]
reference: null
source: {name: "CUP", id: 540}

and it gets lost.

Doing the same for a package instance works instead.

[2020-08-03 10:49] VolkerHBZ commented on #300
Since there's no direct link from providers to identifiers, I suppose, you expect something like "return all identifiers of all publications by the given provider"!?

[2020-08-03 10:55] VolkerHBZ commented on #304
won't fix until #282 is solved.

[2020-08-03 11:56] hornmo commented on #273
Those PRs fixed this issue.

[2020-08-03 11:56] #273 closed, assigned to hornmo, philboeselager, VolkerHBZ

[2020-08-03 11:57] dirk-ecker commented on #300
Yes that would it be I think. The reason to request this enhancement is to only get available ids, but I do not know the user intention. Does it makes sense?

[2020-08-03 12:31] dirk-ecker opened #307 "View Provider: Adding variant names not possible or ..."
I do something wrong. What is the correct way to add variant names?

PATCH rest/provider/591

variantNames: [{variantName: "rwerwer"}]
​

[2020-08-05 12:36] #304 closed, assigned to hornmo, VolkerHBZ

[2020-08-05 12:36] #282 closed, assigned to hornmo, VolkerHBZ

[2020-08-05 12:47] #286 closed, assigned to hornmo, VolkerHBZ

[2020-08-06 13:54] VolkerHBZ commented on #293
In my view, Ygor is the only entity, that has knowledge about the imports. GOKb is only recieving single requests, but has no information about the original KBART-Upload that has triggered the requests.

.

[2020-08-06 14:47] hornmo commented on #288
I don't think I fully understand this one. Can you specify possible request parameters as well as an example of a result payload you would expect?

[2020-08-06 15:21] dirk-ecker commented on #293
That means we do not need this?
As a user, when you start something, like an upload, it would be nice to see if it is done or not.

[2020-08-07 07:25] VolkerHBZ commented on #293
This is not what I have written. I support Philipp when he says that this information is only available in YGOR and any request asking for it has to be answered by YGOR. Either directly to YGOR or via an unspecified number of proxies. If I could choose, my approach would be to gather the information where it actually is..

[2020-08-11 12:57] philboeselager opened #311 "Non-telling baddata response"
When uploading data to the GOKb, sometimes records are rejected and the message returned contains a large `baddata`-Objekt that is not telling anything really. Examples:

1 | {code=400, message=Title processing failed for title Documents de l'OCDE!, baddata={coverage=[{coverageDepth=Fulltext, startIssue=1, endDate=2008-09-05, endVolume=7, startVolume=1, endIssue=12, startDate=2001-04-25}], new_rec

[2020-08-11 12:59] philboeselager commented on #311
The *package* Json.

[Uploading 20200811-1441-OECD_777_20_listprice.tsv.package.json.txt…]()

[2020-08-11 13:02] philboeselager commented on #311
The KBart.
[OECD_777_20_listprice.txt](https://github.com/openlibraryenvironment/gokb/files/5057098/OECD_777_20_listprice.txt)

[2020-08-11 13:03] philboeselager commented on #311
*Package* Json.
[20200811-1441-Miriam_OECD_777_20_listprice.tsv.package.json.txt](https://github.com/openlibraryenvironment/gokb/files/5057107/20200811-1441-Miriam_OECD_777_20_listprice.tsv.package.json.txt)

[2020-08-12 11:30] VolkerHBZ commented on #311
any hints on how to reproduce that error?

[2020-08-14 10:51] #194 closed, assigned to hornmo, dirk-ecker, VolkerHBZ

[2020-08-14 10:54] #231 closed, assigned to hornmo

[2020-08-14 10:55] #255 closed, assigned to hornmo, VolkerHBZ

[2020-08-14 10:57] hornmo commented on #227
Fixed in #257

[2020-08-14 10:57] #227 closed, assigned to hornmo

[2020-08-14 11:02] hornmo commented on #5
Added in #224

[2020-08-14 11:02] #5 closed, assigned to hornmo, philboeselager

[2020-08-17 08:49] philboeselager commented on #311
1. Upload titles json
2. Upload package json

Can be done by re-running Ygor or by using a REST-Tool with the Json-Files attached above.

[2020-08-17 10:51] VolkerHBZ commented on #311
No errors when I try it.
![noErrors](https://user-images.githubusercontent.com/48286407/90388616-600f2200-e088-11ea-9efa-93ced13b524c.png)

[2020-08-20 14:35] VolkerHBZ commented on #300
the endpoint /rest/identifier-namespaces now has a parameter to specify the type of namespaces to list:
`/rest/identifier-namespaces?targetType=<Org|Package|Title|Book|Journal|Database|Other>`
There is no special TargetType for Providers or Publishers, as they're all Orgs. If it's impossible to use only Org as parameter value in the request, the implementation can be broadened to map any other str

[2020-08-31 08:57] dirk-ecker commented on #300
Okay, this tickets needs further improvements. During implementation I saw that you are talking about namespace and I instead mean identifier. I want to search for identifiers for a specific target type not for  namespaces. So it should be `/rest/identifier?...`.

By the way I found that the latter gives also the namespaces.

[2020-08-31 11:41] dirk-ecker commented on #183
It still raises a 500.

`DELETE /rest/titles/7711091`

[code]

[2020-08-31 11:50] dirk-ecker commented on #184
`rest/titles/3111931/retire` now gives a 500
[code]

[2020-08-31 11:52] #303 closed, assigned to hornmo, VolkerHBZ

[2020-08-31 11:56] dirk-ecker commented on #302
Maybe I am doing it wrong, but I expect it like in users and the like, so I send this to add a new group:

[code]

Actually this is not working.

[2020-09-02 11:21] #305 closed, assigned to hornmo, VolkerHBZ

[2020-09-02 11:21] VolkerHBZ commented on #296
For endpoints predictably returning a single object (i.e. a request with a supplied id), the client currently does not expect the response to contain a data container.

[2020-09-02 11:21] #296 closed, assigned to hornmo, VolkerHBZ

[2020-09-03 07:21] VolkerHBZ commented on #296
For endpoints predictably returning a single object (i.e. a request with a supplied id), the client currently does not expect the response to contain a data container.

[2020-09-03 13:07] MiriKon commented on #279
Hier wäre ein Konzept wichtig, wie das gesamte Zugangsmanagement in der GOKb entsprechend DSGVO-konform aussehen könnte. Die Idee wäre auch hier eher pro Kuratorengruppe einen Admin initial anzulegen, so dass sich der Kurator selber pflegen und weitere Nutzer für die eigene Gruppe erstellen kann. Wichtig wären auch in dem Zuge eine Art Teilnehmererklärung auch für die GOKb zu haben.

[2020-09-03 14:54] VolkerHBZ commented on #220
when I used a download link for the last time, I had to acknowledge a dialog for the download to start and then I got a nice tracker, showing me a progress bar as the download is running. It's possible to clone that standard behavior of any browser I know of, though, I'd question the necessity to do so.

[2020-09-04 06:25] darupp commented on #279
Die Anforderungen sind relativ klar und wir haben sie auch schon bei LAS:eR erfüllt. Zentral brauchen wir nur ein veröffentlichtes Verfahrensverzeichnis und Prozesse, um nicht genutzte Nutzerdaten zu löschen.

Aber, und das ist der entscheidende Punkt: Die Nutzerdaten für das Produktivsystem liegen nicht im hbz. Hierfür können wir kein Verfahrensverzeichnis schreiben. Relevant ist das lediglich fü

[2020-09-04 06:35] darupp commented on #279
Dass die Nutzerverwaltung umkonzipiert werden soll, ist ein anderes Thema und ein eigenes Arbeitspaket.

[2020-09-04 06:42] darupp commented on #279
In interne Diskussion verschoben: https://dienst-wiki.hbz-nrw.de/display/GDI/Konzept+Selbstverwaltung+Kuratorengruppen

[2020-09-09 11:47] darupp commented on #270
Bitte `parent_publication_title_id` nicht für die Reihe nutzen. Das sind definierte KBART-Felder, die anhand der `title_id` auf einen "serial"-Titel innerhalb derselben KBART-Datei verweist, der einen Reihentitel (kein Journal!) darstellt.

1. Schafft das einen Aufwand seitens des Anbieters der KBART-Datei, da sie eine Reihe als Record definieren müssen. Ich bezweifle, dass das ernsthaft ein Anbie

[2020-09-10 10:13] darupp commented on #280
Dublette mit https://github.com/openlibraryenvironment/gokb/issues/137

[2020-09-10 12:14] MiriKon commented on #270
Kurz als Fazit: Einigung auf monograph_parent_collection_title zur Angabe der Reihe.

[2020-09-10 13:06] philboeselager commented on #270
@MiriKon Ist Ygor-seitig recht einfach zu implementieren.

@VolkerHBZ @hornmo Bitte gebt mir Bescheid, wenn die von mir oben skizzierten Änderungen in der GOKb (oder entsprechende Alternativen) erfolgt sind, und die GOKb die Reihen-Identifier ohne Datumsangabe verarbeiten kann.

Die Ygor-seitige Implementierung könnte theoretisch auch vorgezogen werden. Das würde aber zu Fehlern beim GOKb-Upload f

[2020-09-10 13:32] VolkerHBZ commented on #270
Die Implementierung dieses Tickets in der GOKb ist mit dem PR https://github.com/openlibraryenvironment/gokb/pull/297 abgeschlossen und kann seitdem getestet werden. Wenn in YGOR noch was zu bauen ist, damit Reihe, Listpreis und Fachbereich in die GOKB übertragen werden, wäre jetzt ein guter Zeitpunkt das zu tun
.

[2020-09-10 13:44] philboeselager commented on #270
@VolkerHBZ Danke für die Information. Bitte sag mir noch:

- Sollen die IDs aus dem hinzuzufügenden Feld ohne Event-Datum übermittelt werden?
- An welcher Stelle finde ich die Schnittstellen-Spezifikation in der [API-Dokumentation](https://github.com/openlibraryenvironment/gokb/wiki/Integration-APIs:-Telling-GOKb-about-new-or-corresponding-resources-and-local-identifiers#title-cross-referencing-an

[2020-09-10 14:00] VolkerHBZ commented on #270
Es werden **keine** ID's übermittelt, sondern Strings für Reihe und Fachbereich.
Die Schnittstelle hat sich nicht verändert, das JSON unter https://github.com/openlibraryenvironment/gokb/wiki/Integration-APIs:-Telling-GOKb-about-new-or-corresponding-resources-and-local-identifiers#title-cross-referencing-and-coreferencing ist bereits um die neuen Felder Series, SubjectArea und Prices ergänzt worde

[2020-09-17 10:44] ChristinSeegert opened #320 "Keine Fehlermeldung bei YGOR, aber es werden nicht alle Titel in die GOKb eingespielt."
Einspielung in PROD.

Auf Seiten von YGOR gab es keine Fehlermeldung und alle Titel (7226) waren intakt. In der GOKb sind im Paket aber nur 6686 Titel angekommen.
![IBISWorld1GOKb](https://user-images.githubusercontent.com/70701502/93459993-e6ff2680-f8e2-11ea-8ac7-9bf6b228955d.png)
![IBISWorld1YGOR](https://user-images.githubusercontent.com/70701502/93459994-e8305380-f8e2-11ea-85a6-9d0fbcd3d3c6.pn

[2020-09-17 12:24] hornmo commented on #320
Nach erster Inspektion mit OpenRefine gibt es in der Datei 1211 Werte in 'title_id', die nicht eindeutig sind (teilweise bis zu 5 mal verwendet). Da dies der einzige verwertbare Identifikator der Datei ist, werden diese Titel jeweils gemergt. Manche dieser Titel haben unterschiedliche Namen, was zu den ReviewRequests 'Title was matched via secondary id, but had a different name.' führt, es gibt ab

[2020-09-17 12:53] philboeselager commented on #320
@ChristinSeegert Die doppelten bzw. mehrfachen Einträge unterschieden sich im Länder-Kürzel in der `title_url`. Beispiele:

- World price of rubber
- World price of cotton
- World GDP

Ygor- und GOKb-seitig ist die Verarbeitung nach derzeitiger technischer Spezifikation korrekt.

Das Problem ist, dass die `title_url` bislang nicht Identifier-Funktion hat, wenn ich das richtig sehe.

[2020-09-17 13:15] hornmo commented on #320
Auf der Seite der GOKb werden TIPPs über die URL durchaus unterschieden. Daher gibt es hier auch Titel mit mehreren TIPPs in diesem Paket, z.B. https://gokb.org/gokb/resource/show/org.gokb.cred.OtherInstance:13305373#availability

[2020-09-17 13:34] philboeselager commented on #320
@hornmo Dann ist wiederum interessant, warum die Unterscheidung hier nicht passiert. Ygor merged die Zeilen ja nicht, wie man anhand der `package.json`-Datei sehen kann, und was sich auch anhand des Feedbacks der Anzahl der verarbeiteten Zeilen der GOKb zeigt.

[2020-09-18 06:52] MiriKon commented on #320
Habe mir stichprobenartig die Dubletten jetzt auch einmal angeschaut und eigentlich wäre aus meiner Sicht nur wichtig, dass die Titel alle eine individuell ansteuerbare URL haben - was ja soweit ich es mir angeschaut habe, der Fall ist. Auch wenn sich die URLs nur minimal durch den Ländercode unterscheiden, sind es ja individuelle auf die Ressource führende URLs. Es scheint mir ein grundlegendes P

[2020-09-18 08:02] VolkerHBZ commented on #320
Letztlich kommt es auf die Definition an, die unserem Datenmodell zugrunde liegt. Darauf müssen die Daten, die geliefert werden, angepasst werden. Im vorliegenden Fall wurden Identifier mehrfach benutzt, was letztlich bedeutet, dass diese Identifier kein **hinreichendes** Merkmal sind, um zu entscheiden, ob zwei Titel identisch sind. Allerdings ist genau das die Voraussetzung, von der YGOR und die

[2020-09-18 08:18] VolkerHBZ commented on #320
unter den 7226 Datensätzen waren 4683, bei denen die title_id tatsächlich eineindeutig war. Hinzu kommen 1211 weitere Titel, deren Anzahl durch Wiederholung auf 2543 mehr als verdoppelt wurde.
Anbei alle 2563 Datensätze, deren title_id mehrfach benutzt wurde.
[Ibisworld_doubles.txt](https://github.com/openlibraryenvironment/gokb/files/5244279/Ibisworld_doubles.txt)

[2020-09-18 08:50] darupp commented on #320
Wir werden das Problem in einer Sitzung besprechen und überlegen, wie wir eine praktikable Lösung finden.

[2020-09-18 11:05] darupp commented on #320
Zusammengefast kommen folgende Fälle kommen in dem Paket vor:

  1. Selbe ID, selber URL, selbe Name (512 Paare)
     --> Hier handelt es sich um eindeutige Dubletten. Die Zeilen der KBART-Datei sind 100% identisch. Hier muss der Anbieter ran. [IbisWorld_completeDoubles.txt](https://github.com/openlibraryenvironment/gokb/files/5245512/IbisWorld_completeDoubles.txt)
  2. Selbe ID, selbe URL, unters

[2020-09-21 11:07] darupp opened #321 "Integration API: Import von Medium"
Für die Title Ingegration API gibt es das Feld `medium`. Die Verarbeitung sollte wie folgt verbessert werden:

  * Die Vorbelegung eines nicht bekannten Wertes für `medium` sollte nicht mehr "Journal" sein, sondern abhängig von PublicationType: "Book" für "Monograph", "Journal" für "Serial", "Database" für "Database", leer für "Other".
  * Bei einem falschen Wert (kein existierender Referenzwert)

[2020-09-21 11:11] croqueGrec09 commented on #321
Aus Sicht ziehender Systeme wird es von die weitere Verarbeitung des Titeltyps sehr interessant sein.

[2020-09-22 07:18] philboeselager commented on #321
Ist das nicht ein Ygor-Ticket? (Geht wahrscheinlich sowohl als auch.)

[2020-09-22 11:53] darupp opened #322 "Strukturierte Aufnahme von Paketnamen"
# Anforderung

Die Struktur des KBART-Namens sollte strukturiert in der GOKb aufgenommen werden, nicht nur als unstrukturierter Freitext. Dabei sollen die Beschränkungen des Dateinamens aufgehoben werden (Z.B. keine Leerzeichen). Eine Identifikation des Pakets muss gewährleistet bleiben.

# Ist-Zustand
Laut der KBART Paketnamenkonvention ist ein KBART-Paketname wie folgt zu strukturieren:

[code]

[2020-09-22 11:57] darupp commented on #321
Das betrifft auch die GOKb, weil hier eine feste Liste mit Referenzwerten liegt. Für YGOR habe ich ein analoges Ticket erstellt. Ist jetzt oben verlinkt.

[2020-09-23 08:09] MiriKon commented on #280
Der Eintrag mit "Technical Support" im Custom Field klappt leider nicht - hier muss der "Technical Support" noch in die Auswahlliste eingetragen werden.

P.S.: Wenn das Feld "Office" hier besser geeignet ist, dann da bitte das Eintragen des Technischen Supports möglich machen bzw. falls es schon möglich ist, bitte kurze Info wie es geht.

[2020-09-23 08:39] darupp commented on #280
Wir benutzen vorerst das Feld "Technischer Support", weil das schon über die API ausgegeben wird. In der neuen Oberfläche können wir das über das Office machen. Für die neue Oberfläche muss ohnehin eine neue

Ich habe als Admin in der Produktiv-GOKb das Custom Field angelegt über https://gokb.org/gokb/create/index?tmpl=org.gokb.cred.AdditionalPropertyDefinition.

[2020-09-23 11:06] darupp commented on #270
Nach Rücksprache mit der hbz-Konsortialstelle sollten alle drei Felder aus pragmatischen Gründen an das TIPP, nicht an den Titel gehängt werden. Das hat folgende Gründe:

1. **Preis:** Der Listenpreis ist anbieterabhängig. D.h. zwei Anbieter können denselben Titel mit verschiedenen Preisen im Portfolio haben.
2. **Fachbereich:** Der Fachbereich ist momentan ein Freitextfeld und daher ebenfalls anb

[2020-09-28 08:31] darupp opened #323 "Namespaces: Beziehung zu Org"
Erweiterung der Klasse Organisations: Diese sollen einen Bezug (n:1, d.h. eine konkrete Org bezieht sich auf genau einen Namespace, aber mehrer Orgs können denselben Namespace referenzieren) zu Namespace erhalten.

  * Ein Feld für eine Referenz auf einen Title-Namespace
  * Ein Feld für eine Referenz auf einen Package-Namespace

Diese sollen über entsprechend über die APIs und Indizes (OAI bzw. E

[2020-09-28 08:37] darupp opened #324 "Namespace: Erweiterung um (menschenlesbaren) Namen"
Erweiterung von Namespaces:

Namensräume erhalten zusätzlich zum Feld "name" ein Freitextfeld für einen menschenlesbaren Namen (inkl. Leerzeichen und Groß-/Kleinschreibung).

Der Name soll entsprechend in den APIs und Indizes ausgegeben werden (OAI und ES), siehe #323

[2020-09-28 08:40] croqueGrec09 commented on #324
Es wäre wünschenswert, wenn bei Implementierung im OAI-PMH-Auszug beide Namen ausgegeben werden, damit sie in nehmenden Systemen gematched und angepasst werden können.

[2020-09-28 09:04] darupp commented on #324
Okay, wird berücksichtigt.

[2020-09-28 09:12] darupp opened #325 "Namespaces: Erklärung für Namespace"
In der Oberfläche sollen Namespaces eine Erklärung erhalten, indem das Feld "value" als Schlüssel für einen Description-Text in den i18n-Übersetzungsdateien fungiert und diese Erklärung dort angezeigt wird.

[Folgt: Wo genau in der GUI wird die Erklärung angezeigt?]

[2020-09-29 08:56] croqueGrec09 commented on #37
In LAS:eR, the title comparison function has been implemented by @Moetez16 for a subscription holding; the method created there may be interesting for the GOKb.

[2020-09-30 09:45] VolkerHBZ commented on #324
Es gibt noch kein Feld 'name' in Namespace, wohl aber die Felder 'value' und 'family'.
Ich implementiere einfach mal **ein** Feld 'name' und exportiere das. Nicht beschweren, dass es nur eins ist...

[2020-09-30 10:24] darupp commented on #324
Okay, mehr brauchen wir auch nicht.

[2020-09-30 12:24] darupp opened #327 "Automatisierung: Implementierung von Automatisierungsoptionen in der GUI"
Auf Paketebene sollen die notwendigen Daten für die Automatisierung in der Paketsicht bearbeitbar sein.

  * GUI-Position: Im Paket-Bearbeitungsseite in Schritt 2 ("Verknüpfte Daten" - "Weitere Paketinfos")
  * Notwendige Daten zur Einspielung (Klasse Package oder Klasse Source)
    * URL für die Automatische Anreicherung
    * Update-Intervall in Tagen (default: 1, also täglich)
    * Grundeinste

[2020-09-30 12:37] darupp opened #328 "Automatisierung: Persistierung der URL zur automatischen Anreicherung mit Platzhalter"
Zur Automatischen Anreicherung soll eine URL eingegeben werden können (siehe https://github.com/openlibraryenvironment/gokb/issues/327). Manche Anbieter verlinken direkt auf eine URL mit Dateinamen, die ein Datum in sich tragen, z.B. https://www.emeraldgrouppublishing.com/sites/default/files/2020-09/EmeraldPublishing_Global_EmeraldAccountingFinanceandEconomicseJournalCollection_2020-09-04.txt

Hie

[2020-09-30 12:37] VolkerHBZ commented on #327
Die GUI-Änderungen sollte vorzugsweise jemand machen, der sich mit diesem VUE.js auskennt.

[2020-09-30 12:43] darupp commented on #327
Ich habe mal noch ein korrespondierendes gokb-ui-Ticket aufgemacht und Moritz zugewiesen.

[2020-09-30 13:13] VolkerHBZ commented on #328
Wenn man die Anbieter nicht dazu bringen kann, ihre **aktuellen** Daten unter **einer** URL zu veröffentlichen, dann wäre die einfachste Lösung, in die persistierte URL Platzhalter einzufügen, die einen Format-String enthalten, der direkt in SimpleDateFormat gefüttert werden kann.
z.B. https://www.emeraldgrouppublishing.com/sites/default/files/{yyyy-MM}/EmeraldPublishing_Global_EmeraldAccountingFi

[2020-10-01 07:03] darupp commented on #327
Überlegungen zur Datenstruktur:

Es gibt schon die Klasse `Source`, die diese (oder eine analoge) Funktion übernimmt. Hier können u.a. eine URL, ein Updateintervall, eine verantwortliche Organisation, eine Liefermethode (FTP, HTTP etc.) sowie ein Dateiformat (KBART, Proprietär) gespeichert werden.

M.E. reicht diese Struktur nicht aus. Teilweise ist der Overhead zu groß, teilweise fehlen Details:

[2020-10-01 11:46] darupp commented on #327
Nach Besprechung wird `Source` genutzt mit einer tatsächlichen 1:1-Beziehung zu `Package`. Dadurch ändert sich sinnvollerweise der Anwendungsfall von `Source`, da die ursprüngliche Funktion (Manuelle Übersicht über die Quellen) vermutlich irrelevant ist.

In der Oberfläche ist die `Source` voll integriert in die `Package`-Sicht als eigenes Panel, d.h. der Nutzer merkt nicht, dass er an einem eigen

[2020-10-02 11:13] #324 closed, assigned to VolkerHBZ

[2020-10-06 14:14] hornmo commented on #37
I did some work on the comparison logic on branch `feature-package-compare` already. We may also want a dedicated view for this, and might consider the handling of very big Packages a bit more.

[2020-10-09 10:35] #301 closed, assigned to hornmo, VolkerHBZ

[2020-10-09 10:35] #302 closed, assigned to hornmo, VolkerHBZ

[2020-10-09 10:35] #306 closed, assigned to hornmo, VolkerHBZ

[2020-10-09 10:35] #307 closed, assigned to hornmo, VolkerHBZ

[2020-10-09 10:35] #289 closed, assigned to hornmo, VolkerHBZ

[2020-10-09 10:35] #295 closed, assigned to hornmo, VolkerHBZ

[2020-10-09 10:37] #261 closed, assigned to hornmo, VolkerHBZ

[2020-10-09 10:37] #262 closed, assigned to hornmo, VolkerHBZ

[2020-10-09 10:37] #263 closed, assigned to hornmo, VolkerHBZ

[2020-10-09 10:37] #264 closed, assigned to hornmo, VolkerHBZ

[2020-10-09 10:37] #265 closed, assigned to hornmo, VolkerHBZ

[2020-10-09 10:37] #266 closed, assigned to hornmo, VolkerHBZ

[2020-10-09 10:47] hornmo commented on #186
Implemented as `/title-types`

[2020-10-09 10:47] #186 closed, assigned to dirk-ecker

[2020-10-09 10:48] #173 closed, assigned to dirk-ecker

[2020-10-09 10:48] #174 closed, assigned to dirk-ecker

[2020-10-09 10:49] #168 closed, assigned to dirk-ecker

[2020-10-09 10:50] hornmo commented on #187
Implemented as endpoint `profile/jobs`

[2020-10-09 10:50] #187 closed, assigned to VolkerHBZ

[2020-10-09 10:51] #143 closed, assigned to VolkerHBZ

[2020-10-09 10:51] #127 closed, assigned to VolkerHBZ

[2020-10-09 10:51] #184 closed, assigned to hornmo, VolkerHBZ

[2020-10-09 10:52] #189 closed, assigned to VolkerHBZ

[2020-10-09 10:52] #183 closed, assigned to hornmo, dirk-ecker, VolkerHBZ

[2020-10-09 11:24] #220 closed, assigned to hornmo, darupp

[2020-10-12 11:29] darupp opened #333 "Title Matching bei uneindeutiger ID"
# Anforderung
Auch bei nichteindeutigem ID-Matching soll ein Paket in die GOKb eingespielt werden können. Fehlerkorrektur soll nachträglich möglich sein, nicht im Voraus verlangt werden, da abgelehnte Pakete zu großer Frustation seitens des Nutzers führen.

# Bisheriges Verhalten
Bei einer Paketeinspielung wird ein "Package reference failed with exception" zurückgegeben, wenn mindestens ein TIPP n

[2020-10-12 12:55] darupp commented on #270
Korrespondierendes YGOR-Ticket: https://github.com/hbz/laser-ygor/issues/306
@philboeselager

[2020-10-20 09:45] darupp opened #338 "Einspielen ohne Nutzerrechte möglich"
Betrifft: phaeton-qa, 8.11.3

Über die Package-API war über YGOR eine Einspielung fehlerfrei möglich, obwohl zum entsprechenden Zeitpunkt der/die Nutzer*in lediglich ROLE_USER-Rechte hatte:

https://phaeton-qa.hbz-nrw.de/gokb/resource/show/org.gokb.cred.Package%3A11775415#titledetails

Das Paket inkl. TIPPs ist korrekt angelegt.

Die Nutzerrechte sind jetzt im NACHHINEIN angepasst worden, das Pake

[2020-10-20 09:50] darupp opened #339 "Einspielung über Package-API betrifft u.a. falsches Paket / falsche Kuratorengruppe"
Durch eine Einspielung ist parallel zum gewünschten Paket:
https://phaeton-qa.hbz-nrw.de/gokb/resource/show/org.gokb.cred.Package%3A11775415#titledetails

Auch durch den-/dieselbe Nutzer*in ein anderes Paket betroffen:
https://phaeton-qa.hbz-nrw.de/gokb/resource/show/org.gokb.cred.Package%3A10550319#titledetails

Dabei war der/die Nutzer*in nicht Mitglied derselben Kuratorengruppe.

(Sichtbar als

[2020-10-20 10:38] darupp opened #340 "TIPP - Name reaktivieren"
# Problem
KBART Records haben ein Namensfeld _publication_title_. Beim Import in die GOKb wird dieser Titel oft nur als _Variant Name_ zur `TitleInstance` hinzugefügt. Hier kann es sein, dass

- Der Haupttitel der `TitleInstance` nicht vollständig ist, weil er u.U. aus verschiedenen Feldern der ZDB zusammengesetzt werden muss (z.B. _Physical Review A_ bzw. _B_ ist nur als _Physical Review_ angeleg

[2020-10-20 10:42] darupp commented on #339
*Kein Bug* - das ist über einen geupdateten Titel geschehen, der in beiden Paketen präsent war. Die Update-Meldung ist in diesem Fall so korrekt gewünscht.

[2020-10-20 10:50] philboeselager commented on #339
Hierbei haben wohl zwei Einspielprozesse relativ parallel stattgefunden.
Der User des "gewünschten" Pakets hatte dabei nur ROLE_USER-Rechte (siehe #338).

Log "gewünscht":
2020-10-20 11:13:38.409  INFO --- [ol-22-thread-11] org.gokb.cred.Package                    : Upsert package with header [nominalProvider:HERDT-Verlag für Bildungsmedien GmbH, generateToken:true, identifiers:[], name:ALL YOU CA

[2020-10-20 10:55] philboeselager opened #341 "TitleLookup throwing IndexOutOfBoundsException"
Im Kontext von #339 zeigte das Log 2 Stacktraces, bei denen der Titel-Lookup (mit) ursächlich scheint:

2020-10-20 11:09:43.011 ERROR --- [ol-22-thread-10] org.gokb.IntegrationController           : Package Crossref failed with Exception

java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
	at java.util.ArrayList.rangeCheck(ArrayList.java:657)
	at java.util.ArrayList.remove(ArrayList.java:496)

[2020-10-21 08:35] darupp commented on #340
Bezüglich der Integration Package API wird der Name nur innerhalb eines `title`-Objekts innerhalb des `TIPP`-Objekts weitergegeben. Es wäre stringenter, den _publication_title_ als `name` zusätztlich direkt im `TIPP`-Objekt anzugeben. So ist auch eine deutliche Differenzierung zweier Namensformen möglich, bei der die eine aus dem KBART-Feld _publication_title_ kommt, die andere aus einer Schnittst

[2020-10-21 08:59] philboeselager commented on #340
Eine alternative Namensform zum `tipp.title.name` kann natürlich eingeführt werden, allerdings sollte die Bezeichnung auch (ent-) sprechend sein. Also bspw. als Objekt:

    "name" : {
        "source" : "kbart",
        "value" : "Adipositas - Ursachen, Folgeerkrankungen, Therapie"
    }

Macht es denn überhaupt Sinn, die Namen in den Paketen abweichend zum Titel vorzuhalten? In der realen Welt n

[2020-10-21 09:18] VolkerHBZ commented on #340
wenn das aus KBComponent geerbte Property 'name' benutzt werden soll, dann ist das nur ein einzelner String, ohne die Möglichkeit, dem _Namen_ eine Source zuordnen zu können. Das geht nur auf KBComponent-Ebene, also neben dem Namen.
Der Sinn besteht m.E. darin, paketspezifisch abgeänderte Namen eines Titels nachvollziehen zu können. Offenbar fehlt den vorhandenen Alternative Names diese Möglichkei

[2020-10-21 10:50] darupp commented on #339
Tatsächlich ist hier ein identisches Paket mit dem falschen Titel ausgezeichnet worden - daher sind tatsächlich alle Titel des "falschen" Pakets angefasst worden. Kein Bug daher.

[2020-10-21 10:59] darupp commented on #333
Aufgrund eines Bugs in 8.11.3 auf phaeton-qa erneut geöffnet. Bei anhängendem KBART tritt der Fehler weiterhin auf, wenn die _title_id_ nicht auf die DOI gemappt wird, d.h. wenn jeder Record nur ISSN, eISSN oder beides hat:

https://phaeton-qa.hbz-nrw.de/gokb/resource/show/org.gokb.cred.Package%3A12072107

- Fehlermeldung taucht auf, ohne fehlerhaften Tipp/Titel selbst zu referenzieren
- Keine Aus

[2020-10-22 08:46] darupp commented on #340
Ich würde ebenfalls in Hinblick auf die GOKb-Struktur `name` verwenden. `tipp.name` dürfte ja sauber zu unterscheiden sein von `tipp.title.name`. Andere Name-Properties in der GOKb, die von `KBComponent` (wie der Plattformname) sind ja auch schon so im JSON benannt, also z.B. `tipp.platform.name`

[2020-10-22 09:33] darupp commented on #270
Testdateien finden sich im korrespondierenden YGOR-Ticket: https://github.com/hbz/laser-ygor/issues/306#issuecomment-714339643

[2020-10-22 10:33] #339 closed, assigned to hornmo

[2020-10-22 14:39] #333 closed, assigned to hornmo

[2020-10-22 14:39] #338 closed, assigned to hornmo

[2020-10-22 14:39] #341 closed, assigned to hornmo

[2020-10-23 10:19] darupp opened #344 "Neue medium-Typen"
# Erweiterung und Übersetzung der `medium`-Typen

| Existing | RefDataValue | en | de |
|--------------|-----------------|------------|----------|
| X | A & I Database | A & I Database   | Abstract- & Indexdatenbank |
| X | Audio | Audio | Audio |
| X | Database | Fulltext database  |  Volltextdatenbank |
| X | Dataset | Dataset | Datenbestand |
| X | Film | Film | Film |
| X | Image | Image | Bil

[2020-10-26 08:06] darupp opened #346 "Textfeld für die Reichweite "konsortial" und "regional""
Neben der Reichweite (scope) der Pakete sollte ein Textfeld existieren, das die Reichweite `global` in den Fällen _regional_, _consortial_ und _unbekannt_ spezifiziert. Beispielsweise könnte hier für _consortial_ der Wert "hbz" eingetragen sein, für _regional_ der Wert "Deutschsprachige Länder"

In der neuen GUI soll dieser String unterhalb der Scope-Auswahl einzutragen sein. Im Idealfall sollte d

[2020-10-26 13:43] darupp opened #349 "Identifier `TIPP` und `TitleInstance`: Matchingverhalten"
Ein `TIPP` kann mittlerweile selbst Identifikatoren tragen. Es ist zu überlegen, inwiefern hier bzgl. Matching und weitere Funktionalität damit umgegangen werden soll. Beim Einspielen ist das Matching mit der `TitleInstance` sehr aufwändig und rechenintensiv. Hier ist zu überlegen. in welchen Fällen ein `TIPP`-Identifier-Matching sinnvoll sein kann.

[2020-10-30 15:04] #340 closed, assigned to hornmo, VolkerHBZ

[2020-10-30 15:06] hornmo commented on #311
Fixed in #352

[2020-10-30 15:06] #311 closed, assigned to hornmo

[2020-10-30 15:08] hornmo commented on #270
Added in #350

[2020-10-30 15:08] #270 closed, assigned to hornmo, philboeselager, VolkerHBZ

[2020-10-30 15:11] hornmo commented on #229
Fixed in c615fa97be5aec9eeddedc412b5ccba60efb8645

[2020-10-30 15:11] #229 closed, assigned to hornmo

[2020-10-30 15:11] #219 closed, assigned to hornmo, darupp

[2020-10-30 15:13] #191 closed, assigned to dirk-ecker

[2020-10-30 15:13] #164 closed, assigned to dirk-ecker

[2020-10-30 15:13] #192 closed, assigned to dirk-ecker

[2020-10-30 15:14] #126 closed, assigned to VolkerHBZ

[2020-10-30 15:15] #112 closed, assigned to hornmo

[2020-10-30 15:15] #110 closed, assigned to darupp

[2020-11-02 12:26] darupp commented on #328
Da die URL schon in https://github.com/openlibraryenvironment/gokb/issues/327 persistiert wird und auch Platzhalter akzeptiert werden, ist dieses Ticket als erledigt zu betrachten.

[2020-11-02 12:26] #328 closed, assigned to VolkerHBZ

[2020-11-02 13:37] darupp opened #354 "Erweiterung der Source für automatische YGOR-Calls"
Für den automatischen Paket-Import weitere Werte in Source

- Source erweitert:
  - title-ID-Mapping: FK auf Namespace (für Title)
  - Automatisches Update: BOOLEAN
  - ZDB-Anreicherung: BOOLEAN
  - EZB-Anreicherung: BOOLEAN
  - letzte Run: TIMESTAMP

Zusätzlich
- Kuratorengruppe für Source (Wird implizit über GUI gesetzt)
- Ggf. muss der Integration Controller
- Package Sync Script anpassen werde

[2020-11-05 14:42] VolkerHBZ commented on #321
aktuell ist diese Vorbelegung static in der Klasse TitelInstancew hinterlegt. Die komplexe Mechanik mit reviewRequest lässt sich sicher nicht mehr so einfach bauen. d.h. es wäre ein spezieller Setter für medium oder ein Methodenaufruf im Konstruktor.
@hornmo: comments?

[2020-11-09 13:15] darupp opened #356 "GOKb Job: Regelmäßiger YGOR-Call anhand Source-Einstellungen"
# Mittelfristig
- Seriell, d.h. erst nach Abschluss des letzten YGOR-Jobs neuer Call

[2020-11-09 13:36] darupp opened #357 "Anpassung lokaler Sync-Skripte"
Sobald Sources erweitert sind, muss eine Synchronisation der Sources durchgeführt.

Hierfür müssen die lokalen Synchronisations-Skripte angepasst werden.

[2020-11-10 18:54] #213 closed, assigned to nobody

[2020-11-11 08:11] #346 closed, assigned to darupp

[2020-11-16 13:19] darupp opened #360 "Manueller Update-Service über URL in "Available Actions""
- In der alten GUI unter Packageview unter "Available Action" die Funktion "Manuelles Update jetzt"
- Keine Vorab-Prüfung, ob Source, URL, Service etc. existieren, sondern Fehlermeldung danach (<- Einfacher zu Implementieren)
- Evtl. noch Probleme dadurch, dass mehrere Paketjobs zurzeit parallel laufen können.

[2020-11-16 13:27] darupp opened #361 "Anlegen der Source über die Package Crossref"
Über die Package Crossref soll eine Source angelegt werden können
- Wenn die ID fehlt, dann soll sie angelegt werden
- Namen nicht mitgeschickt, da er ja in der GOKb gleich des Paketnamens gesetzt werden soll
- Felder: In JSON wie Domänenattribute benennen
  - `url`
  - `freqency` (Siehe Pull-Request für Syntax) --> 1d ist GOKb-Seitig standard, muss nicht mitgeschickt werden.
  - `automaticUpdates

[2020-11-19 10:40] #360 closed, assigned to hornmo

[2020-11-19 10:40] #361 closed, assigned to hornmo

[2020-11-23 14:44] #323 closed, assigned to VolkerHBZ

[2020-11-23 14:45] #136 closed, assigned to hornmo

[2020-11-23 14:50] #327 closed, assigned to hornmo, VolkerHBZ

[2020-11-25 09:19] darupp opened #368 "Erhöhung der Performance"
Für das Einspielen großer Pakete (bis zu 250.000, für Backlists vielleicht sogar 5.000.000 Records) muss die Performance der GOKb deutlich erhöht werden. Große produktive Pakete werden ab Januar 2021 eingespielt

## Analyse
- [ ] Ggf. Generierung sehr großer E-Book-KBART-Dateien mit Testdatengeneratoren
- [ ] Bereitstellen mehrerer großer E-Book-KBART-Dateien per URL
- [ ] Automatisierter Lauf meh

[2020-11-25 09:20] croqueGrec09 commented on #368
Ich schließe mich von Nehmerseite aus an.

Die Versuche, die ich machen werde:
- Parallelisierung (hinsichtlich zu verarbeitender TitleInstances oder TIPPs, muss noch evaluiert werden)
- Verzicht auf das Verarbeiten gesamter GORM-Objekte, nur Einladen, wo es unbedingt notwendig ist, ansonsten nur die IDs laden

[2020-11-25 09:26] darupp commented on #354
Erledigt via https://github.com/openlibraryenvironment/gokb/pull/359

[2020-11-25 09:26] #354 closed, assigned to hornmo, VolkerHBZ

[2020-11-25 09:28] #320 closed, assigned to hornmo, VolkerHBZ

[2020-11-25 09:29] #280 closed, assigned to hornmo, VolkerHBZ

[2020-11-25 09:56] croqueGrec09 commented on #368
Insbesondere der OAI-PMH-Endpunkt hat hohen Verbesserungsbedarf. Dieser Aufruf (https://phaeton.hbz-nrw.de/gokb/oai/packages?verb=ListRecords&metadataPrefix=gokb&resumptionToken=2020-11-02T11:34:28Z||207|gokb) lädt bei Speicherlast 30 Minuten (!) und mehr. TOP zeigt Vollast zweier Prozessorkerne und 25 % Speicherlast.
EDIT: die gerade eben besprochene Abfrage hat bis zur Antwort seitens phaeton 40

[2020-11-25 12:13] VolkerHBZ commented on #368
Am wirksamsten läßt sich die Verarbeitungsdauer verkürzen, indem die Datenmenge auf die Bestandteile reduziert wird, die tatsächlich noch nicht in der DB vorhanden sind. Ansonsten sollte man sich vor Augen halten, dass eine Viertelmillion Datensätze eine große Anzahl sind, die nicht einfach nur in die GOKb "eingespielt" werden, sondern als komplexe Datenstrukturen angelegt und validiert werden. Se

[2020-11-25 13:12] philboeselager commented on #368
Genau, das wird bei Updates auf jeden Fall angestrebt. Bei der Ersteinspielung eines Titels gibt es hier wohl wenig Einsparpotential, oder @VolkerHBZ ?

[2020-11-25 15:35] philboeselager opened #369 "LastRun nur bei "Erfolg" setzen"
Das Feld `lastRun` einer Source sollte vermutlich nur dann verändert werden, wenn sichergestellt ist, dass das betreffende Update auch erfolgreich war.

Das Kriterium für "Erfolg" wäre dabei wohl am besten von GOKb-Entwicklern (mit) zu bestimmen.

[2020-11-25 16:32] VolkerHBZ commented on #369
Aktuell wird lastRun gesetzt, wenn die kommunikation zwischen GOKb und Ygor erfolgreich war und in dem Thread keine Exceptions geflogen sind. Eine Abfrage, die das Ergebnis des xrPackage-Jobs erfmittelt, kann ich da noch mit dran bauen, sofern das irgendwo verfügbar ist. Allerdings hast du Recht: wir müssen wahrscheinlich erstmal definieren, an welcher Grenze aus einem ziemlich guten ein erfolgrei

[2020-11-27 12:39] #216 closed, assigned to hornmo, darupp

[2020-11-27 14:30] #369 closed, assigned to hornmo, VolkerHBZ

[2020-11-27 14:48] hornmo commented on #368
EDIT: die gerade eben besprochene Abfrage hat bis zur Antwort seitens phaeton 40 Minuten genau gebraucht.

Ich denke die beste Lösung hierfür wäre der Umstieg auf den mittleweile verfügbaren TIPP-Endpunkt (in 8.13.0 leider noch verbuggt). Ich habe den in den letzten Tagen noch etwas ausgebaut und beim Deploy der nächsten Minor Version (8.13.1) wird hierüber z.B. auch die selektive Abfrage von Inha

[2020-12-02 11:01] VolkerHBZ commented on #368
Von welchen Workflows ist hier eigentlich konkret die Rede? Zur effizienten Bearbeitung ist es dringend notwendig, einen Testablauf zu definieren, damit Tests in den beteiligten Komponenten (Ygor, Gokb, Laser) zielgerichtet erfolgen können und auch konkrete Hotspots aufzeigen, die angegangen werden müssen. Andernfalls erfolgen Verbesserungen an Stellen die die Verarbeitungsgeschwindigkeit zwar erh

[2020-12-03 15:43] philboeselager commented on #368
Die Verarbeitung eines 10.000-Zeilen Pakets (Springer eBooks) dauert Ygor-seitig etwa 3 Minuten (auf meiner lokalen Instanz), inkl. Absenden an die GOKb.

Die Annahme der gesendeten Daten durch die GOKb (ebenfalls meine lokale Instanz) dauert (wenn der Speicher nicht zu klein gewählt ist) etwa 100 Minuten.

@hornmo Gibt es Möglichkeiten, den crossReferencePackage-Prozess zu beschleunigen? (Abgeseh

[2020-12-04 09:19] VolkerHBZ commented on #368
@philboeselager bitte häng' das JSON vom Springer eBooks Paket noch mit hier ans Ticket. Das erleichtert die Ausführung einer Analyse.

[2020-12-08 13:49] VolkerHBZ commented on #368
hier sind ein paar KBART-Test-Dateien, die bei manueller Datenanreicherung mit Ygor (ohne EZB/ZDB-Abgleich) zu 100% durch gehen. Die Zahlen im Dateinamen stehen für die Anzahl enthaltener Publikationen (TIPPs).

[2020-12-09 09:30] philboeselager commented on #368
Zu den Analyse-Punkten aus der Issue-Beschreibung:

@VolkerHBZ und ich haben je einen Testdaten-Generator gebaut. Volker's Version erstellt reine Dummy-Daten, meine Version erweitert eine bestehende KBart-Datei. So haben wir insgesamt viel Varianz in den Daten. Datensätze in der Größenordnung mehrerer Millionen Records sind so im Handumdrehen erstellt. Beide Generatoren erzeugen Daten, die von Ygo

[2020-12-09 15:14] VolkerHBZ commented on #368
Meine Tests zeigen, dass es keine offensichtlichen Hotspots gibt, an denen sich leicht viel Performance holen läßt. Um 500 Titel von Ygor zu übernehmen, braucht meine lokale Instanz 6 min. Allerdings stimme ich Philipp zu: eine parallele Verarbeitung, insbesondere der Tipps während des xRef-Jobs könnte die Performance deutlich steigern, da TIPPs ja unveränderlich sind und daher parallel geschriebe

[2020-12-09 15:33] philboeselager commented on #368
Auch nicht bedingt, z. B. dass Validierungen wegfallen können, wenn es sich z. B. um eBooks handelt?

+1 --> testen?!

[2020-12-10 08:44] VolkerHBZ commented on #368
Validierungen zu überspringen scheint mir nicht sinnvoll (https://github.com/openlibraryenvironment/gokb/wiki/tipp_dto), da sie - besonders bei Massendaten, die keiner weiteren Kontrolle unterliegen - wirksam verhindern, dass Müll in der Datenbank landet.

[2020-12-10 10:01] philboeselager commented on #368
Natürlich nicht einfach "überspringen". Die Frage ist, ob durch Fallunterscheidung auf unnötige Checks verzichtet werden kann.

[2020-12-10 13:51] philboeselager opened #375 "NullPointerException bei ESUpdateJob"
Das Server-Log der DEV-Instanz zeigt mehrere NPE's der folgenden Art (gefilterter Stacktrace):

    java.lang.NullPointerException: Cannot get property 'name' on null object
	at org.codehaus.groovy.runtime.NullObject.getProperty(NullObject.java:60)
	at org.codehaus.groovy.runtime.InvokerHelper.getProperty(InvokerHelper.java:190)
	at org.codehaus.groovy.runtime.callsite.NullCallSite.getProperty(Nul

[2020-12-10 13:54] croqueGrec09 commented on #375
Das hatte ich letztens im Chat schon angemäkelt; ein Neuaufsetzen des lokalen Indexes hat nichts bewirkt.

[2020-12-11 11:19] VolkerHBZ commented on #368
es sind ohnehin nicht die Validierungen, die die Zeit verbraten, sondern die Datenbankzugriffe. Da werden pro Datensatz Zeilen in Combo, TitleInstance, Book/JournalInstance, TIPL, TIPP, KBComponent und sicher auch noch mehr geschrieben. Im Profiler sieht man dann dass und jedes mal, wenn ein flush:true kommt, dauert das ein paar Millisekündchen. Allerdings funktioniert ohne die flushs das Multithr

[2020-12-14 11:33] hornmo commented on #375
Dieser Fehler beruht darauf, dass hier ein TIPP ohne verknüpften Titel existiert. Dies wiederum kann mehrere Ursachen haben, die  nachträglich schwer nachzuvollziehen sind (Fehler beim Anlegen/Titel per expunge gelöscht/Combo manuell gelöscht). Um solche "verwaisten" TIPPs zu löschen gibt es im alten UI eine Admin-Routine ("Expunge Orphaned TIPPs"), die das Problem dann beheben sollte.

[2020-12-14 11:41] philboeselager commented on #375
@hornmo Können wir an geeigneter Stelle einen Hinweis auf "Expunge Orphaned TIPPs" generieren? Wenigstens als Log-Message z. B.? Es muss nur eindeutig sein, also der Hinweis sollte nicht durch andere Exceptions generiert werden.

[2020-12-14 12:13] hornmo commented on #375
Da dies ein eindeutiger Fehler ist, können wir das auf jeden Fall auch dementsprechend abfangen. Vielleicht sollten wir diese Fälle aber auch einfach per Routine gleich automatisch aufräumen.

[2020-12-14 12:15] croqueGrec09 commented on #375
Bei mir lokal hat sich der Fehler durch Auslösen der Methode in der Tat verflüchtigt.

[2020-12-15 13:49] philboeselager opened #376 "Update Trigger Feedback"
Nach dem manuellen Triggern eines Paket-Updates erscheint als Feedback immer ein Popup mit der Meldung "Update successfully started!" - auch wenn das Update nicht erfolgreich gestartet wurde, weil kein Upload durch Ygor stattfindet. Deswegen muss an dieser Stelle das Feedback von Ygor berücksichtigt werden, und im Fall des Error-Status eine entsprechende Meldung im Popup abgsetzt werden.

[2020-12-16 10:46] croqueGrec09 opened #378 "Fehlende Felder im ES"
Wenn perspektivisch Synchronisationsprozesse auf Elasticsearch-Scroll umgestellt werden sollen, ist es nötig, dass nehmende Stellen alle Daten, die im OAI-PMH-XML anzutreffen sind, auch im ElasticSearch vorfinden.
Dies wären im Detail (Liste wird weiter vervollständigt):
- accessStartDate
- accessEndDate
- medium
- EBook-spezifische Felder in TitleInstancePackagePlatform
- TitleHistory -> TIPPHist

[2020-12-16 13:36] croqueGrec09 opened #379 "ES-API: offset = 10000 sorgt für 400er"
Folgende Abfrage auf den ES-Find-API sorgt für 400: /gokb/api/find?status=Current&componentType=Package&offset=10000&max=1000
Gleiches Ergebnis ist auch, wenn offset entfällt, dafür aber max auf 10001 gesetzt wird.

[2020-12-16 13:39] croqueGrec09 opened #380 "Neuer Endpunkt resourceSync"
Für eine deutlich performantere Synchronisation nehmender Systeme wäre ein Endpunkt wünschenswert, der folgendermaßen aussieht (Methode bulkRecords): https://github.com/hbz/lobid-resources/blob/f93201bec043cc732b27814a6ab4aea390d1aa9e/web/app/controllers/resources/Application.java

Der neue Endpunkt soll (mindestens) folgende Parameter verarbeiten:
- componentType
- changedSince
- offset (optional

[2020-12-16 13:47] philboeselager commented on #379
Low Prio gemäß @croqueGrec09

[2020-12-16 14:14] croqueGrec09 commented on #380
Aus dem Fehlerstacktrace, als ich über die 10000er-Marke wollte: Failed to execute phase [query], all shards failed; shardFailures {[BggQpTcCS9-bKV-SP9xMdQ][gokbg3][0]: RemoteTransportException[[BggQpTc][127.0.0.1:9300][indices:data/read/search[phase/query]]]; nested: QueryPhaseExecutionException[Result window is too large, from + size must be less than or equal to: [10000] but was [11000]. See th

[2020-12-17 12:11] darupp opened #381 "Erhöhung der Performanz der Integration API: ES-Nutzung"
Eine Überlegungen an der Sitzung am 15.12.2020 war:

GOKb-seitige Prüfung vor Datenbankabfrage, ob und inwiefern ein Record neue Informationen bereithält, ohne performanzintensive Datenbank-Abfrage.
- (Zusätzlicher) ES-Index für TIPPs (ggf. auch Titel), gegen die geprüft wird, mit sofortiger Aktualisierung
- 2 Schritte
   - Identifizierung des Tipps (ist es neu?)
   - Prüfung, ob veränderungsrelev

[2020-12-17 12:14] darupp opened #382 "Altes Dashboard: Statistiken OHNE gelöschten Objekte"
Die Statistiken auf dem alten GOKb-Dashboard unter `/home/index'  sind falsch, da gelöschte Objekte (Status: Deleted) auch ausgewertet werden.

Es sollen nur Objekte ausgewertet werden, die nicht den Status "Deleted" haben.

[2020-12-22 11:11] philboeselager commented on #61
@darupp Ist das noch aktuell? Wenn ja, bitte erläutern, sonst bitte schließen.

[2020-12-22 11:25] philboeselager opened #383 "Feedback zu nicht eingespielten Titeln / TIPPs"
Im Zusammenhang eines Ygor-Tickets (siehe https://github.com/hbz/laser-ygor/issues/280#issuecomment-688179358) entstand der Verbesserungs-Vorschlag, bei der Einspielung abgelehnte TIPPs in einem Kommentar-Feld des Pakets aufzulisten, um dem Nutzer eine bessere Transparenz zu bieten.

Da es in diesem Zusammenhang offensichtlich Ygor-seitig nichts mehr zu tun gibt, und das Ticket etwas in Vergessenh

[2020-12-22 11:34] philboeselager commented on #293
@hornmo Would we still want that?

[2020-12-22 15:57] philboeselager commented on #379
@croqueGrec09 Der Fehler geht in beiden Fällen auf die folgende Programm-interne Exception zurück, die von Elasticsearch generiert wird:
"Result window is too large, from + size must be less than or equal to: [10000] but was [11000]. See the scroll api for a more efficient way to request large data sets. This limit can be set by changing the [index.max_result_window] index level setting.",
wie Du

[2021-01-04 08:52] darupp commented on #61
Nicht mehr aktuell. Geschlossen.

[2021-01-04 08:52] #61 closed, assigned to philboeselager, VolkerHBZ

[2021-01-04 13:05] darupp opened #384 "Paketeinspielung darf nicht mehr komplett abbrechen bei TIPP-Fehlern"
Momentan bricht der Paketimport noch ab, wenn bei einzelnen TIPPs Validierungsfehler auftreten. Dieses Problem ist insbesondere bei großen Datenmengen mit fünfstelliger Titelzahl dem Nutzer nicht zu vermitteln. Stattdessen sollte:
- Der Datenimport wie gehabt stattfinden
- Das nichtvalidierte Feld einfach nicht übernommen werden
- Im Falle eines essentiellen Feldes das Tipp nicht übernommen werden

[2021-01-05 07:57] philboeselager commented on #384
Aktuelles Beispiel:

- Der Titel "Die Berufsverbände der Sozialarbeit und ihre Geschichte" aus http://kbart.content-select.com/gokb/preselect_Global_AllTitles.txt wird mit dem DEBUG-Logeintrag `baddata:[type:pisbn, value:3170065688]` abgelehnt.
- Der Titel "Der große Zauberlehrling" aus demselben Paket wird mit dem DEBUG-Logeintrag `baddata:[type:pisbn, value:978387387615-]` ebenfalls abgelehnt.
-

[2021-01-05 15:38] philboeselager commented on #380
@croqueGrec09 Der Scroll-Endpunkt steht unter dem Endpunkt

    api/scroll?component_type=BookInstance

zur Verfügung. Alle scroll-Requests returnieren eine `scrollId`, die bei den Requests 2 bis n jeweils als Parameter einzureichen ist. Dabei ist jeweils die zuletzt returnierte scrollId zu übergeben, d. h. jede scrollId funktioniert genau 1x, nämlich für die Folgeseite des letzten Requests.

Die

[2021-01-05 15:39] philboeselager commented on #379
Ist ggf. durch https://github.com/openlibraryenvironment/gokb/commit/10bcdf6fc3f81f3ee1057461948cabf47399adfb gefixt, d. h. hier sollte statt des find-Endpunkts der Scroll-Endpunkt benutzt werden.

[2021-01-06 10:15] philboeselager commented on #380
@croqueGrec09 Hier noch ein Beispiel-Schnipsel zur Verwendung der Schnittstelle:

    String url = "http://yourGokbInstanceGoesHere/api/scroll?component_type=JournalInstance"
    boolean scrollOn = true
    String scrollId = null
    while (scrollOn){
      String scrollUrl = url + "&scrollId=${scrollId}"
      def http = (scrollId == null) ? new HTTPBuilder(url) : new HTTPBuilder(scrollUrl)

[2021-01-06 10:32] VolkerHBZ commented on #384
Das baue ich erstmal so ein. Allerdings sollten Nutzern die Konsequenzen unvollständiger Importe klar sein: es wird beispielsweise dazu kommen, dass Pakete TIPPS wegen fehlerhafter Importe retiren und nicht, weil der Titel tatsächlich aus dem Angebot genommen wurde. Bis zur Korrektur ist die Datenbank dann inkorrekt und der Fehler verbreitet sich automatisch in nachgelagerte Systeme.

[2021-01-06 10:49] philboeselager commented on #384
Dafür waren glaube ich Review Requests vorgesehen?!

[2021-01-06 12:23] darupp commented on #384
Ja, genau dafür sind die Review Requests vorgesehen. Prinzipiell wird es so sein, dass bei den meisten Titeln keine essentiellen Felder fehlen, sodass der Titel auf jeden Fall aufgenommen und nicht abgelehnt wird.

[2021-01-06 14:06] hemmefelix opened #386 "Limit on provider search results display when creating packages"
The provider reference list in the new GOKb UI is limited to 10 entries when creating a new package. Therefore a user cannot select certain providers, e.g. "Springer" (GOKb org-id 85324), from the list to link it to the package. As a workaround I tried a lookup with the org id, but that failed.

The max number of results displayed to the user should be increased.

![image](https://user-images.gith

[2021-01-06 14:11] hemmefelix opened #387 "Search on package identifier should not be case sensitive"
On https://gokb.org/gokb-ui/#/search-package a search on package identifiers like ISIL is case sensitive at the moment. This leads to false negative search results (0 results) even if a package with the given ISIL is available in GOKb. The id search should be case insensitive.

Example:

- zdb-2-swi -> 0 results
- ZDB-2-SWI -> 2 results

[2021-01-06 14:34] hemmefelix opened #388 "Changes to package metadata are not persisted"
When editing package metadata in https://gokb.org/gokb-ui/#/package/<packageId> changes and/or additions to data are not persistet, but this is only apparent after a reload of the page.

**Steps to Reproduce:**

1. Log into https://gokb.org/gokb-ui
2. Search for a package, e.g. [Springer eBooks: Business and Management 2020](https://gokb.org/gokb-ui/#/package/15325213)
3. In screen 3 (package prop

[2021-01-06 15:06] darupp commented on #384
@VolkerHBZ, @hornmo: In der Konsortialstelle ist dieses Thema wegen des von Philipp verlinkten Pakets zeitlich kritisch. Wenn Volker fertig ist, könnt Ihr dann bitte relativ schnell einen Deploy auf gokb.org organisieren?

[2021-01-08 08:14] darupp opened #390 "Synchronisationsfehler UTB E-Books"
Auf den 08.01.2021 sind vier neu aufgenommene Titel des Pakets "utb E-Books: Alle Titel 2020" (1936 Titel) nicht synchronisiert worden, sodass der hbz-Spiegel nur 1932 Titel hat.

https://gokb.org/gokb/resource/show/org.gokb.cred.Package:9734296
https://phaeton.hbz-nrw.de/gokb/resource/show/org.gokb.cred.Package%3A10616474#packagedetails

Zu tun:

- Fehleranalyse
- GGf. fixen
- Synchronisation neu

[2021-01-08 08:53] VolkerHBZ commented on #390
ich sehe in dem Paket 1936 Titel. Welche fehlen denn
![Bildschirmfoto vom 2021-01-08 09-47-40](https://user-images.githubusercontent.com/48286407/103994443-4f765a00-5197-11eb-9461-1b403b9651ee.jpg)
?

[2021-01-08 08:59] darupp commented on #390
Das ist ja das original gokb.org-Paket. Oben ist der Link zum phaeton-Paket. Hier gibt es nur 1932 Titel. Genau das funktioniert ja nicht.

Welche fehlen, kann ich nicht so schnell feststellen. Ich schaue mal.

[2021-01-08 09:23] VolkerHBZ commented on #390
Ahh, es geht um den gokb-Sync. Der macht logfiles... ich schau' mal.

Laut Logfile ist der Sync des Pakets dreimal mit folgendem Logeintrag fehlgeschlagen:
[code]

[2021-01-08 14:10] darupp commented on #384
Erster Schritt ist erledigt: Korrupte TIPPs werden entfernt, ohne das Paket abzulehnen.
Im zweiten Schritt sollen jetzt einzelne nichtvalidierte Felder entfernt werden, ohne das TIPP abzulehnen.

Überprüft wird zur Zeit in validateDTO():

- Name != null
- publishedFrom < publishedTo
- startDate < endDate
- Identifier semantisch und syntaktisch nach Format des Identifiers

[2021-01-08 16:44] #382 closed, assigned to VolkerHBZ

[2021-01-08 16:44] #384 closed, assigned to VolkerHBZ

[2021-01-11 06:39] croqueGrec09 commented on #380
Sooo ... nach meinem Urlaub habe ich mich alsbald an das Testen gemacht und dabei direkt einen sehr doofen Bug entdeckt: der Parameter changedSince wird augenscheinlich nicht verarbeitet. Ich bekomme mit changedSince=2020-11-02 00:00:00 die gleiche Ergebnismenge, wie mit changedSince=2021-01-11 00:00:00 und zwar Ergebnisse, die lastUpdated auf April '20 (!) gesetzt haben ...

[2021-01-11 07:03] croqueGrec09 commented on #379
Kommt auf den jeweiligen Anwendungsfall an. In meinem Fall hat sich das in der Tat durch Einführen des scroll-Endpunktes erledigt. Es kann jedoch sein, dass jemand einen Eintrag jenseits der 10000 gezielt sucht. Dies sollte dann aber in diesem Fall geprüft und eine Umstellung geprüft werden.

[2021-01-11 07:27] philboeselager commented on #379
Wir könnten für diesen Fall das Feedback von Elasticsearch an die anfragende Stelle zurück geben. Dann gibt es immerhin eine verwertbare Information. Was meinst Du, @darupp ?

[2021-01-12 13:37] philboeselager commented on #380
@croqueGrec09 Zu den optionalen Parametern:

- `offset` wird in Scroll-Requests nicht unterstützt und macht auch nicht Sinn, da der Elasticsearch-Mechanismus ohne einen solchen Parameter funktioniert.
- `max` könnte implementiert werden. Die Bedeutung wäre dann die maximale Größe eines Teilergebnisses (einer "Seite"). Hier sollten allerdings nicht zu große Werte erlaubt werden, da diese wiederum d

[2021-01-12 13:41] croqueGrec09 commented on #380
Zu offset und max gebe ich Recht. Waren auch nur deshalb notwendig, um bei der Synchronisation eine Paginierung zu erwirken, was anderweitig und implizit schon umgesetzt ist.
Status wäre deshalb sinnvoll, um explizit nur aktive oder nur erwartete Titel/Pakete/etc. zu erhalten. Dieser Filter ist in manchen nehmenden Systemen recht häufig im Einsatz.

[2021-01-18 14:01] hemmefelix opened #395 "Enhancement: Search package titles by identifier"
From package view it is only possible to search contained e-resources by title as phrase search, not keyword search. Example:

Package: [Edward Elgar:Edward Elgar E-Book Archive in Business & Management, Economics and Finance:Nationallizenz](https://gokb.org/gokb-ui/#/package/9355221)

The user wants to know if the following title is included in this package (from package view w/o additional searc

[2021-01-27 17:31] #388 closed, assigned to hornmo

[2021-01-27 17:31] #387 closed, assigned to hornmo

[2021-01-27 17:46] hornmo commented on #386
Searching by component ID will be fixed going forward, which will probably be more comfortable. Adding more results specifically for orgs would be an issue for https://github.com/openlibraryenvironment/gokb-ui

[2021-01-27 17:48] #180 closed, assigned to dirk-ecker

[2021-01-27 17:49] #179 closed, assigned to dirk-ecker

[2021-01-27 17:49] #178 closed, assigned to dirk-ecker

[2021-01-27 17:49] #177 closed, assigned to dirk-ecker

[2021-01-27 17:49] #176 closed, assigned to dirk-ecker

[2021-01-27 17:50] #181 closed, assigned to dirk-ecker

[2021-01-27 17:50] #182 closed, assigned to dirk-ecker

[2021-01-27 17:50] #172 closed, assigned to dirk-ecker

[2021-01-27 17:50] #175 closed, assigned to dirk-ecker

[2021-01-27 17:51] #169 closed, assigned to dirk-ecker

[2021-01-27 17:51] #154 closed, assigned to darupp

[2021-01-27 17:52] #153 closed, assigned to darupp

[2021-01-27 17:53] #293 closed, assigned to philboeselager

[2021-01-27 17:53] #162 closed, assigned to hornmo, VolkerHBZ

[2021-01-27 18:08] hornmo commented on #200
Fixed in concordance with Ygor 0.97.

[2021-01-27 18:08] #200 closed, assigned to darupp

[2021-01-28 09:39] hemmefelix commented on #386
Hey @hornmo , do you want me to file an issue on the https://github.com/openlibraryenvironment/gokb-ui repo to address the number of results displayed?

[2021-01-28 09:40] hemmefelix commented on #395
Shall I file an issue on the https://github.com/openlibraryenvironment/gokb-ui repo instead?

[2021-01-28 12:33] hornmo commented on #386
Yeah, that would be great!

[2021-01-28 15:20] hornmo commented on #395
As of v8.14.0, entering an identifier value should work. Switching to tokenized search instead of phrase search would require some additional effort and testing (and should probably get its own ticket in gokb-ui).

[2021-02-03 12:15] MiriKon opened #407 "Automatisierung: Frequency Feld"
Da das Feld "Frequency" in einer Source momentan noch Freitextfeld ist, sollte dies so schnell wie möglich geändert werden und folgende Referenzwerte auswählbar sein:

- Daily
- Weekly
- Monthly
- Quarterly
- Yearly

Vorbelegt sollte nichts sein, also EMPTY

[2021-02-03 13:12] #407 closed, assigned to nobody

[2021-02-04 07:25] philboeselager opened #409 "Prevent nully history events"
The following log exception indicated that there are history events containing null `from` data.

[code]

While this exception is already prevented by 62ab33b8b23662d5610f84c62be0daf468224b58, the creation of such null data still has to be prevented. This is also holds for the `to` part.

Furthermore, existing "nully" history events should possibly be detected and cleaned up.